.brand_outer{
     padding: 45px 40px;
    .category_name{
        @extend .mob_heading;
        margin-bottom: 25px;
    }
    .brand_sec{
        img{
            max-height: 45px;
            margin-left: 8px;
            margin-bottom: 8px;
        }
    }
    .brand_list{
        .category_name{
            @extend .mob_heading;
            margin: 60px 0 25px;
        }  
        .alphabetic_sort{
            border-top:1px solid rgba(151, 151, 151,0.3);
            border-bottom:1px solid rgba(151, 151, 151,0.3);
            padding: 15px 0 8px;
            margin-bottom: 40px;
            a{
                font-family: $f-family-secondary;
                margin: 0 10px 10px;
                display: inline-block;
                &:last-child{
                    margin-right:0;
                }
                 &:first-child{
                    margin-left:0;
                }
            }
        }
        h6{
            @extend.secondary_base_content;
            text-transform: uppercase;
            font-family: $f-family-secondary-bold; 
        }
        ul{
            margin-bottom: 55px;
            li a{
                @extend.secondary_base_content;
                padding:0 12px 0 0;
                text-transform: capitalize;
                &:hover,&:focus{
                    color: map-get($colors,tertiary);
                }
            }
        }
    }
}