.shopingcart_outer{
    padding: 30px 40px;
    .category_name{
        @extend .mob_heading;
        margin-bottom: 20px;
    }
    .listing_outer{
        li{
            @extend .base_content;
        }
        li.list_header{
            border-top:1px solid map-get($colors,secondary_border);
            border-bottom:1px solid map-get($colors,secondary_border);
            padding: 10px 20px 10px 0;
        }
        li.listing{
            padding: 20px 20px 20px 0;
            border-bottom:1px solid map-get($colors,secondary_border);
            .quantity{
                text-align: center;
                .control{
                    border: 1px solid map-get($colors,secondary);
                    display: inline-block;
                    padding: 4px 0;
                    button{
                        background: transparent;
                        border: 0;
                        padding: 0 15px;
                        vertical-align: middle;
                        font-family: $f-family-secondary;
                        font-size: map-get($fontSizes,s);
                    }
                    input{
                        border: 0;
                        width: 25px;
                        vertical-align: middle;
                        font-size: map-get($fontSizes,xs);
                        font-family: $f-family-secondary;
                        text-align: center;
                    }
                }
            }
            .details{
                img{
                    width: 90px;
                    vertical-align: top;
                }
                .inner{
                    padding-left: 20px;
                    display: inline-block;
                    vertical-align: top;
                    width:calc(100% - 90px);
                    .name{
                        margin-bottom: 10px;
                    }
                    .color_name,.size_name{
                        @extend .secondary_base_content;
                        color: map-get($colors,secondary);
                        margin-bottom: 0;
                    }
                    .edit_product,.remove_product{
                        @extend .secondary_base_content;
                        text-decoration: underline;
                        margin:15px 15px 0 0;
                        display: inline-block;
                        &:hover{
                            color: map-get($colors,tertiary);
                        }
                    }
                }
            }
        }
    }
    .row_outer{
        display: flex;
    }
    .right_sec{
        border:1px solid map-get($colors,secondary_border);
        padding:0 18px 20px;
        margin-bottom: 10px;
        @extend .base_content;
        > span{
            .code_input{
                @extend .base_content;
                border:0;
                border: 3px solid map-get($colors,secondary_border);
                padding: 10px;
                width: 100%;
                margin: 20px 0;
                color: map-get($colors,secondary);
            }
            ::placeholder{
                color : red;
                font-weight : bold
            }
            .btn{
                padding: 4px;
                border:0;
               /* background: transparent; */
                margin-left: -59px;
                margin-top: 2px;
                background-color : black;
                color : white;
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
            .btn:hover{
                background-color: #fccf3a
            }
        }
        .sub_totl,.accpt{
            color: map-get($colors,secondary);
        }
        .accpt{
            @extend .secondary_base_content;
        }
        .grand_totl{
            font-family: $f-family-secondary-bold;
        }
        .paymnt_list{
            img{
                margin-right: 20px;
            }
        }
    }
    .right_outer{
        min-width: 250px;
        width: 26%;
        padding-left: 5px;
    }
    .left_outer{
        width: 74%;
        padding-right: 15px;
    }
    .place_order,.continue{
        background: map-get($colors,primary);
        color: map-get($colors,white);
        @extend .base_content;
        border-radius: 0;
        border: 0;
        padding: 12px 30px;
        margin: 10px 0 20px;
        &:active,&:hover{
            background: map-get($colors,tertiary);
        }
    }
    .continue{
        background: map-get($colors,white);
        border:1px solid map-get($colors,primary);
        color: map-get($colors,primary);
        &:active,&:hover{
            border: 0;
            color: map-get($colors,white);
        }
    }
    @media only screen and (max-width: 900px){
        .right_outer,.left_outer{
            width: 100%;
            padding: 0;
        }
        .row_outer{
            display: block;
        }
    }
    @media only screen and (max-width: 767px){
        padding: 30px 20px;
        .category_name{
            font-size: map-get($fontSizes,s);
        }
        .listing_outer li{
            &.listing{
                padding: 20px 0;
                .details .inner{
                    padding-left: 15px;
                    .link_outer{
                        border-bottom: 1px solid map-get($colors,secondary_border);
                        text-align: right;
                        margin-bottom: 0;
                        padding-bottom: 8px;
                        .edit_product,.remove_product{
                            margin-top: 10px;
                        }
                    }
                }
                .quantity{
                    text-align: left;
                }
                .details{
                    margin-bottom: 15px;
                }
            }
        }
    }
}