.checkout_outer{
    padding: 30px 40px;
    .category_name{
        @extend .mob_heading;
        margin-bottom: 0;
        border-bottom:1px solid map-get($colors,secondary_border);
        padding-bottom: 12px;
    }
    .sub_heading{
        font-size: map-get($fontSizes,buffer_font);
        font-family: $f-family-secondary;
        margin: 20px 0;
    }
    .left_sec{
        .details_section{
            .nav-tabs{
                border:0;
                .nav-item{
                    margin-right: 50px;
                    a{
                        border:0;
                        padding: 18px 0 0;
                        span{
                            font-family: $f-family-secondary;
                            font-size: map-get($fontSizes,s);
                            letter-spacing: 1.4px;
                        }
                    }
                }
            }
            .tab-content{
                .checkout_acc{
                    .card{
                        border: 0;
                        border-bottom: 1px solid map-get($colors,secondary_border);
                        border-radius: 0;
                        .card-header{
                            background: transparent;
                            border: 0;
                            padding: 0;
                            button{
                                color:map-get($colors,primary);
                                padding: 0;
                                margin: 20px 0;
                                text-decoration: none;
                            }
                        }
                        .card-body{
                            padding:0 0 10px 0;
                            .locatn_sec{
                                margin-bottom: 20px;
                                @extend .base_content;
                                svg{
                                    width: 18px;
                                    height: 18px;
                                    margin-right: 5px;
                                    vertical-align: middle;
                                }
                                a{
                                    text-decoration: underline;
                                    vertical-align: middle;
                                    &:hover{
                                        color:map-get($colors,tertiary);
                                    }
                                }
                            }
                            .map_section{
                                margin-bottom: 20px;
                                form{
                                    top: 10px;
                                    right: 62px;
                                }
                                input{
                                    border:1px solid map-get($colors,border_color);
                                    border-radius: 0;
                                    height: 30px;
                                    padding:2px 10px;
                                    color: map-get($colors,secondary);
                                    @extend .secondary_base_content;
                                    min-width: 205px;
                                }
                                .btn{
                                    color: map-get($colors,white);
                                    margin: -3px 0 0 -58px;
                                    padding: 3px 9px;
                                    min-width: auto;
                                    letter-spacing: normal;
                                    font-size: map-get($fontSizes,xxxs);
                                }
                            }
                            .store_list{
                                li{
                                    padding-top: 20px;
                                    @extend .secondary_base_content;
                                    > div{
                                        border-bottom: 1px dashed map-get($colors,secondary_border);
                                        width: calc(100% - 25px);
                                        padding-bottom: 20px;
 
                                    }
                                    &:last-child{
                                        > div{
                                            border:0;
                                        }
                                    }
                                    svg{
                                        height: 17px;
                                        width: 17px;
                                        vertical-align: middle;
                                        margin-right: 8px;
                                    }
                                    .brand_name{
                                        font-size: map-get($fontSizes,xs);
                                        margin-bottom: 5px;
                                    }
                                    .address{
                                        font-size: map-get($fontSizes,xxxs);
                                        margin-bottom: 8px;
                                    }
                                    .address,.contact{
                                        color:map-get($colors,secondary);
                                    }
                                    .contact{
                                        margin-bottom: 15px;
                                        svg{
                                            vertical-align: bottom;
                                            margin: 0;
                                        }
                                        span{
                                            margin: 0 10px;
                                        }
                                    }
                                    a{
                                        text-decoration: underline;
                                        vertical-align: middle;
                                        margin-right: 30px;
                                        &:hover{
                                            color:map-get($colors,tertiary);
                                        }
                                    }
                                }
                            }
                            form{
                                button{
                                    @extend .base_content;
                                    background: map-get($colors,primary);
                                    margin: 15px;
                                    border-radius: 0;
                                    box-shadow: none;
                                    border: 1px solid map-get($colors,primary);
                                    text-transform: capitalize;
                                    min-width: 170px;
                                    padding: 11px 20px;
                                    &:hover{
                                        background: map-get($colors,tertiary);
                                        border: 1px solid map-get($colors,tertiary);
                                    }
                                }
                                .input_radio{
                                    margin-top: 15px;
                                    padding: 0 15px;
                                    > legend{
                                        width: initial;
                                        margin-right: 30px;
                                        @extend .base_content;
                                        color: map-get($colors,secondary);
                                    }
                                    > div{
                                        flex-wrap: nowrap;
                                        flex-direction: row;
                                        label{
                                            @extend .base_content;
                                            margin-right: 20px;
                                        }
                                    }
                                }
                                .input_checkbox{
                                    padding: 0 15px;
                                    label{
                                        span{
                                            @extend .base_content;
                                            letter-spacing: normal;
                                        }
                                    }
                                }
                                .input_outer{
                                    margin-bottom: 10px;
                                    padding: 0 15px;
                                    input, textarea{
                                        @extend .base_content;
                                    }
                                    label{
                                        @extend .base_content;
                                        left: 15px;
                                    }  
                                    > div{
                                        &:hover:before{
                                            border-bottom:1px solid map-get($colors,tertiary);
                                        }
                                        &:after{
                                            border-bottom:1px solid map-get($colors,tertiary);
                                        }
                                    }
                                }
                                p{
                                    @extend .secondary_base_content;
                                    font-size: map-get($fontSizes,xxxs);
                                    letter-spacing: 0.5px;
                                    margin-top: 4px;
                                    color: map-get($colors,error_color);   
                                }
                            }
                            .choose_address{
                                .add_address{
                                    text-decoration: underline;
                                    @extend .base_content;
                                    padding-right: 60px;
                                    display: inline-block;
                                    margin-top: -5px;
                                }
                                .input_radio{
                                    margin-top: 0;
                                    > div{
                                        flex-direction: column;
                                        label{
                                            margin-bottom: 20px;
                                            align-items: flex-start;
                                            > span{
                                                padding-top: 0;
                                                &:last-child{
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                                .content{
                                    padding:15px 20px;
                                    border:1px solid map-get($colors,secondary_border);
                                    p{
                                        margin:0 0 5px 0;
                                        @extend .secondary_base_content;
                                        color:map-get($colors,secondary);

                                    }
                                    a{
                                        @extend .secondary_base_content;
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .billing_custom{
                                .content{
                                    margin-left: 15px;
                                    width: 80%;
                                }
                            }
                            .choose_payment{
                                .input_radio{
                                    .content{
                                        border: 0;
                                        padding: 0 0 0 10px;
                                        p{
                                            @extend .base_content;
                                        }
                                    }
                                }
                                .card_details{
                                    margin-left: 45px;
                                    button{
                                        margin:30px 0;
                                    }   
                                }
                                .payment-option{
                                    .card{
                                        border:0;
                                    }
                                    .card-header{
                                        .btn-link{
                                            border: 0;
                                            background: transparent;
                                            margin: 0;
                                            padding-left: 0;
                                            text-decoration: none;
                                            white-space: normal;
                                            min-width: 170px;
                                            padding: 11px 20px;

                                            > label{
                                                margin-bottom: 0;
                                            }
                                        }
                                        .content{
                                            text-align:left;
                                        }
                                    }
                                    .card-body{
                                        padding: 0;
                                        label{
                                            margin-left: 0;
                                            padding:0 20px 5px 0px;
                                            border:1px solid map-get($colors,secondary_border);
                                            justify-content: center;
                                            > span{
                                                padding-top: 12px;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .right_sec{
        border:1px solid map-get($colors,secondary_border);
        padding:0 20px 20px;
        margin-top: 15px;
        @extend .base_content;
        .details{
            margin-bottom:20px;
            img{
                width: 80px;
                vertical-align: top;
            }
            .inner{
                padding-left: 20px;
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 80px);
                .name{
                    margin-bottom: 10px;
                    @extend .base_content;
                    word-break: break-word;
                }
                p{
                    @extend .secondary_base_content;
                    color: map-get($colors,secondary);
                    margin-bottom: 0;
                }
            }
        }
        .sub_totl,.accpt{
            color: map-get($colors,secondary);
        }
        .grand_totl{
            font-family: $f-family-secondary-bold;
        }
        .accpt{
            padding-top: 20px;
            border-top:1px solid map-get($colors,secondary_border);
            @extend .secondary_base_content;
        }
        .paymnt_list{
            img{
                margin-right: 20px;
            }
        }
    }
    .address_outer{
        .modal-dialog{
            max-width: 480px;
        }
         .modal-body{
            padding: 10px 40px 40px; 

            h2{
                margin: 25px 0 25px;
                font-size: map-get($fontSizes,s);
                letter-spacing: 1.6px;
                font-family: $f-family-secondary;
            }
            p{
                @extend .secondary_base_content;
                letter-spacing: 1px;
                color: map-get($colors,secondary);

            }
            .time_span{
                @extend .secondary_base_content;
                padding-top: 25px;
                letter-spacing: 1px;
                a{
                    text-decoration: underline;
                }
            }
            .input_outer{
                margin-bottom: 10px;
                input, textarea{
                    @extend .base_content;
                }
                label{
                    @extend .base_content;
                }  
                > div{
                    &:hover:before{
                        border-bottom:1px solid map-get($colors,tertiary);
                    }
                    &:after{
                        border-bottom:1px solid map-get($colors,tertiary);
                    }
                }
            }
            .continue{
                @extend .base_content;
                background: map-get($colors,primary);
                margin-top: 15px;
                border-radius: 0;
                box-shadow: none;
                border: 1px solid map-get($colors,primary);
                text-transform: capitalize;
                min-width: 170px;
                padding: 11px 20px;
                &:hover{
                    background: map-get($colors,tertiary);
                    border: 1px solid map-get($colors,tertiary);
                }
            }
        }
    }
    @media only screen and (max-width: 1199px){
        .right_sec{
            padding: 0 8px 20px;
            .paymnt_list img {
                margin-right: 15px;
            }
            .details .inner{
                padding-left: 8px;
            }
        }

    }
    @media only screen and (max-width: 991px){
        .left_sec .details_section .nav-tabs .nav-item {
            margin-right: 12px;
        }
    }
    @media only screen and (max-width: 800px){
        .left_sec,.right_outer{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    @media only screen and (max-width: 767px){
        padding:20px;
        .category_name{
            font-size: map-get($fontSizes,s);
        }
        .left_sec .details_section{
            .nav-tabs .nav-item {
                a span{
                    font-size: map-get($fontSizes,buffer_font);
                }
            }  
        }
        .address_outer{
            .modal-body{
                padding: 18px;
                h2{
                    margin: 12px 0 25px 0;
                    font-size: map-get($fontSizes,buffer_font);
                }
                .continue{
                    min-width: 115px;
                }
            }
        }
    }
    @media only screen and (max-width: 575px){
        .right_sec{
            margin-top: 20px;
        }
        .left_sec{
            padding-top: 20px;
            .details_section {
                .tab-content .checkout_acc .card {
                    .card-body{
                        .choose_payment .payment-option .card-header .btn-link{
                            padding: 2px 0;
                        }
                        .billing_custom .content{
                            width: 92%;
                        }
                         .locatn_sec{
                            font-size: map-get($fontSizes,xxs);
                            > span{
                                display: block;
                                margin-bottom: 6px;
                            }
                         }
                        .choose_address {
                            .input_radio > div label{
                                margin:0 5px 12px 0;
                            }
                            .content {
                                padding: 10px;
                            }
                            .add_address{
                                padding:10px 10px 20px 45px;
                            }
                            .input_checkbox{
                                > label{
                                    margin-right: 0;
                                }
                            }
                        }

                        form .input_radio > div{
                            flex-direction: column;
                            label{
                                margin-bottom: 0;
                            }
                        } 
                    }
                }


                .nav-tabs {
                    display: block;
                    .nav-item a {
                        padding: 0;
                    }
                }
            }

        }
    }

}
.thankyou_outer{
    padding:50px 30px 70px;
    h1{
        @extend .mob_heading;
        margin: 20px 0;
        @media only screen and (max-width: 767px){
            font-size: map-get($fontSizes,s);
        }
    }
    p{
        @extend .base_content;
        letter-spacing: normal;
        margin-bottom: 20px;
    }
    a{
        @extend .base_content;
        text-decoration: underline;
    }
    .continue{
        @extend .base_content;
        background: map-get($colors,primary);
        border-radius: 0;
        box-shadow: none;
        border: 1px solid map-get($colors,primary);
        text-transform: capitalize;
        min-width: 170px;
        padding: 11px 20px;
        color: map-get($colors,white);
        margin-top: 15px;
        &:hover{
            background: map-get($colors,tertiary);
            border: 1px solid map-get($colors,tertiary);
        }
    }
}
.locator_outer{
    .detail{
        @extend .base_content;
        letter-spacing: normal;
    }
    .buffer_space{
        padding: 0 5px 0 20px;
        @extend .secondary_base_content;
    }
    form{
        flex-grow: 1;
        .slect_outer{
            padding: 0 15px;
            label{
                @extend .secondary_base_content;
                @include transform(scale(1));
                color:map-get($colors,secondary);
                padding-left: 15px;
            }
            .selectEmpty{
                width: 100%;
                @extend .base_content;
                background: transparent url("/img/down-arrow.png") no-repeat right;
                svg{
                    display: none;
                }
                &:focus{
                    outline: 0;
                }
                &:after{
                    border-bottom:1px solid map-get($colors,tertiary);
                }
                &:hover{
                    &:before{
                        border-bottom:1px solid map-get($colors,tertiary) !important;
                    }
                }
                > div > div{
                    padding: 6px 0;
                    &:focus{
                        background:transparent;
                    }
                }
            }
        }
        button{
            @extend .base_content;
            background: map-get($colors,primary);
            border-radius: 0;
            box-shadow: none;
            border: 1px solid map-get($colors,primary);
            text-transform: capitalize;
            padding: 11px 20px;
            color: map-get($colors,white);
            margin-top: 15px;
            &:hover{
                background: map-get($colors,tertiary);
                border: 1px solid map-get($colors,tertiary);
            }
        }
    }
    .loatn_outer{
        border-bottom: 1px solid map-get($colors,secondary_border);
    }
    @media only screen and (max-width: 575px){
        form{
            .slect_outer{
                margin-bottom: 20px;
            }
            button{
                margin: 15px 15px 0 15px;
            }
        }
    }
    .locatn_sec{
        @extend .base_content;
        svg{
            width: 18px;
            height: 18px;
            margin-right: 5px;
            vertical-align: middle;
        }
        a{
            text-decoration: underline;
            vertical-align: middle;
            &:hover{
                color:map-get($colors,tertiary);
            }
        }

    }
    .map_section{
        img{
            width: 100%;
            height: 500px;
        }
        .address_detail{
            background: map-get($colors,white);
            max-width: 230px;
            top: 50px;
            padding: 10px;
            left: 12%;
            font-size: map-get($fontSizes,xxxs);
            font-family: $f-family-secondary;
            h6{
                @extend .secondary_base_content;
            }
            p{
                color:map-get($colors,secondary);
                margin-bottom: 5px;
            }
            a{
                text-decoration: underline;
                vertical-align: middle;
                margin-right: 30px;
                &:hover{
                    color:map-get($colors,tertiary);
                }
            }
        }
    }
    .right_block{
         .store_list{
            margin-top: -20px;
            li{
                padding-top: 20px;
                @extend .secondary_base_content;
                > div{
                    border-bottom: 1px solid map-get($colors,secondary_border);
                    width: calc(100% - 25px);
                    padding-bottom: 20px;

                }
                svg{
                    height: 17px;
                    width: 17px;
                    vertical-align: middle;
                    margin-right: 8px;
                }
                .contct{
                    margin-top: 10px;
                    svg{
                        height: 15px;
                        vertical-align: top;
                    }
                    @media only screen and (max-width: 767px){
                        svg{
                            display: none;
                        }
                        a{
                            margin-right: 25px;
                        }
                    }
                    @media only screen and (max-width: 374px){
                        a{
                            margin-right: 8px;
                        }
                    }
                }
                .brand_name{
                    font-size: map-get($fontSizes,xs);
                    margin-bottom: 10px;
                }
                .address{
                    font-size: map-get($fontSizes,xxxs);
                    margin-bottom: 4px;
                    color:map-get($colors,secondary);
                }
                a{
                    text-decoration: underline;
                    vertical-align: middle;
                    margin-right: 30px;
                    display: inline-block;
                    &:hover{
                        color:map-get($colors,tertiary);
                    }
                    @media only screen and (max-width: 991px){
                        margin:0 15px 8px 0;

                    }
                }
            }
        }
        @media only screen and (max-width: 767px){
            margin-top:30px;
        }
    }
}
