.dashboard_outer{
    padding: 30px 40px 60px;
    .show_more{
        text-decoration: underline;
        margin: 0 auto;
        display: flex;
        width: 90px;
    }
    .category_name{
        @extend .mob_heading;
        margin-bottom: 20px;
        border-bottom:1px solid map-get($colors,secondary_border);
        padding-bottom: 12px;
        a{
            display: none;
        }
        svg{
            width: 18px;
            height: 18px;
            margin-right: 15px;
        }
    }
    .subheading{
        font-size: map-get($fontSizes,buffer_font);
        font-family: $f-family-secondary;
        margin-bottom: 20px;
        padding-top: 5px;
    }
    .sidebar_container{
        .list{
            .list_head{
                font-size: map-get($fontSizes,s);
                font-family: $f-family-default-bold;
                margin-bottom: 12px;
            }
            .item{
                @extend .base_content;
                padding: 5px 0;
                a{
                    color: map-get($colors,secondary);
                }
                &.active,&:hover{
                    a{
                        color: map-get($colors,primary);
                    }
                }
            }
        }
    }
    .right_sec{
        &.order_outer{
            @extend .secondary_base_content;
            .nav-tabs{
                border:0;
                .nav-item{
                    margin-right: 40px;
                    a{
                        border:0;
                        @extend .base_content;
                        font-family: $f-family-secondary-bold;
                        color: map-get($colors,secondary);
                        padding: 8px 0;
                        &:hover,&.active{
                            color: map-get($colors,primary);
                        }
                    }
                }
            }
            .tab-content{
                margin-top: 10px;
                letter-spacing: 1px;
            }
            .trackorder_outer{
                list-style: none;
                border-top:2px solid map-get($colors,secondary);
                &:after{
                    content:"";
                    display: block;
                    border-top:2px solid map-get($colors,tertiary);
                    position: absolute;
                    left: 0;
                    top: -2px;
                }
                &.one-third:after{
                    width: 33%;
                }
                &.half:after{
                    width: 66%;
                }
                &.full:after{
                    width: 100%;
                }
                li{
                    &:before{
                        content:"";
                        display: inline-block;
                        height: 15px;
                        @include border-radius(50%);
                        width:15px;
                        margin: -9px 0 8px 0;
                        background: map-get($colors,tertiary);
                        position: relative;
                        z-index: 1;
                    }
                    &.complete{
                        border-color: map-get($colors,tertiary);
                    }
                    &.active{
                        color: map-get($colors,tertiary);
                        &:before{
                            @include box-shadow(0, 0px, 6px, 3px, rgb(228, 177, 34));
                        }
                    }
                    &.disable{
                        color: map-get($colors,secondary);
                        &:before{
                            background:map-get($colors,secondary);;
                        }
                    }
                }
            }
            .links_detail{
                text-decoration: underline;
                margin:0 0 20px 20px;
                display: inline-block;
                &:hover{
                    color: map-get($colors,tertiary);
                }
            }
            .listing_outer{
                .listing{
                    padding: 25px 0;
                    border-bottom:1px solid map-get($colors,secondary_border);
                    .buffer_prop{
                        flex-grow: 1;
                    }
                    .details{
                        img{
                            width: 80px;
                            vertical-align: top;
                            cursor: pointer;
                            margin-bottom: 10px;
                        }
                        .inner{
                            padding-left: 20px;
                            display: inline-block;
                            vertical-align: top;
                            width:calc(100% - 80px);
                            .name{
                                @extend .base_content;
                                margin-bottom: 10px;
                            }
                            .color_name,.size_name,.inr_detail{
                                color: map-get($colors,secondary);
                                margin-bottom: 0;
                            }
                        }
                        .ordr_detail a{
                            text-decoration: underline;
                            &:hover{
                                color: map-get($colors,tertiary);
                            }
                        }
                        .add_product,.remove_product,.review_product,.common_links{
                            @extend .secondary_base_content;
                            text-decoration: underline;
                            margin:15px 25px 0 0;
                            display: inline-block;
                            &:hover{
                                color: map-get($colors,tertiary);
                            }
                        }
                        .placing_dte{
                            color:map-get($colors,secondary);
                            font-size: map-get($fontSizes,xxxs);
                        }
                    }
                    .price{
                        @extend .base_content;
                    }
                    .quantity{
                        @extend .base_content;
                        text-align: center;
                        .control{
                            border: 1px solid map-get($colors,secondary);
                            display: inline-block;
                            padding: 4px 0;
                            button{
                                background: transparent;
                                border: 0;
                                padding: 0 12px;
                                vertical-align: middle;
                                font-family: $f-family-secondary;
                                font-size: map-get($fontSizes,s);
                            }
                            input{
                                border: 0;
                                width: 25px;
                                vertical-align: middle;
                                font-size: map-get($fontSizes,xs);
                                font-family: $f-family-secondary;
                                text-align: center;
                            }
                        }
                    }
                    .inner_right{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        > p:first-child{
                            flex-grow: 1;
                        }

                    }
                    &:last-child{
                        border: 0;
                    }
                }
            }
            form{
                .input_checkbox{
                    padding: 15px 0 0;
                    label{
                        span{
                            @extend .base_content;
                            letter-spacing: 0.9px;
                        }
                    }
                }
                .input_outer{
                    margin-bottom: 20px;
                    > div{
                        &:hover{
                            &:before{
                                border-bottom:1px solid map-get($colors,tertiary);
                            }
                            fieldset{
                                border-color: map-get($colors,tertiary) !important;
                            }
                        }
                        &:after{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                    }
                }
                input, fieldset{
                    @extend .base_content;
                }
                label{
                    background: map-get($colors,white);
                }
                fieldset{
                    border-radius: 0;
                    border: 1px solid rgba(0, 0, 0, 0.42);
                
                }
                .textField{
                    label{
                        padding: 0 5px;
                        @extend .base_content;
                    }
                }
                textarea{
                    min-height: 60px;
                }
                p{
                    color:map-get($colors,secondary);
                    margin-left: 0;
                }
                button{
                    @extend .base_content;
                    background: map-get($colors,primary);
                    margin: 15px 0;
                    border-radius: 0;
                    box-shadow: none;
                    border: 1px solid map-get($colors,primary);
                    text-transform: capitalize;
                    min-width: 135px;
                    padding: 10px 16px;
                    &:hover{
                        background: map-get($colors,tertiary);
                        border: 1px solid map-get($colors,tertiary);
                    }
                   
                }
                .slect_outer{
                    label{
                        @extend .secondary_base_content;
                        @include transform(scale(1));
                        color:map-get($colors,secondary);
                    }
                }
                .selectEmpty{
                    width: 100%;
                    margin-right: 15px;
                    @extend .base_content;
                    background: transparent url("/img/down-arrow.png") no-repeat right 12px;
                    svg{
                        display: none;
                    }
                    &:focus{
                        outline: 0;
                    }
                    &:after{
                        border-bottom:1px solid map-get($colors,tertiary);
                    }
                    &:hover{
                        &:before{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                    }
                    > div > div{
                        padding: 10px 0;
                        &:focus{
                            background:transparent;
                        }
                    }
                }
            }
            .needhelp_outer{
                /*border-top:1px solid map-get($colors,secondary_border);*/
                form{
                    max-width: 500px;
                }
                h2{
                    font-size: map-get($fontSizes,s);
                }
                .comment_list{
                    li{
                        margin-bottom: 25px;
                        p{
                            background: map-get($colors,grey);
                            padding: 15px;
                            @extend .base_content;
                            display: inline-block;
                            position: relative;
                            &:after{
                                content:"";
                                display: block;
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                bottom: -17px;
                                left: 0;
                                border-width:18px 18px 0 0;
                                border-color: map-get($colors,grey) transparent transparent transparent;
                            }
                        }
                        div{
                            span{
                                color: map-get($colors,secondary);
                                font-size: map-get($fontSizes,xxxs);
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
            .innerorder_detail{
                @extend .secondary_base_content;
                border-top:1px solid map-get($colors,secondary_border);
                color: map-get($colors,secondary);
                h5{
                    @extend .base_content;
                    margin-bottom: 12px;
                    color: map-get($colors,primary);
                }
                .buffer-color{
                    color: map-get($colors,primary);
                }
                .buffer_border{
                    border-right:1px solid map-get($colors,secondary_border);
                }
                p{
                    margin-bottom: 0;
                }
                .return_detail{
                    max-width: 480px;
                    li{
                        p{
                        width: 50%;
                        margin-bottom: 3px;
                        }
                    }
                }
            }
        }
        &.wishlist_outer{
            .listing_outer{
                li.listing{
                    padding: 20px 20px 20px 0;
                }
            }
        }
        &.profile_outer{
            .buffer_bod{
                border-top:1px solid map-get($colors,secondary_border);
            }
            form{
                button{
                    @extend .base_content;
                    background: map-get($colors,primary);
                    margin: 20px 15px 50px;
                    border-radius: 0;
                    box-shadow: none;
                    border: 1px solid map-get($colors,primary);
                    text-transform: capitalize;
                    min-width: 135px;
                    padding: 11px 20px;
                    &:hover{
                        background: map-get($colors,tertiary);
                        border: 1px solid map-get($colors,tertiary);
                    }
                }
                .input_outer{
                    margin-bottom: 15px;
                    padding: 0 15px;
                    input, textarea{
                        @extend .base_content;
                    }
                    label{
                        @extend .base_content;
                        left: 15px;
                    }  
                    > div{
                        &:hover:before{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                        &:after{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                    }
                }
                .radio_outer{
                    padding: 10px 15px 0;
                    flex-direction: row;
                    > label{
                        margin-right: 50px;
                        span{
                            font-family: $f-family-secondary;
                        }
                    }
                }
                .input_radio{
                    > legend{
                        width: initial;
                        margin: 5px 30px 0 15px;
                        @extend .base_content;
                        color: map-get($colors,secondary);
                    }
                }
                p{
                    @extend .secondary_base_content;
                    font-size: map-get($fontSizes,xxxs);
                    letter-spacing: 0.5px;
                    margin-top: 4px;
                    color: map-get($colors,error_color);   
                }
            }
        }
        &.points_outer{
            .value_container{
                background: map-get($colors,pink);
                padding: 24px 15px 25px 30px;
                margin-bottom: 30px;
                @extend .base_content;
                svg{
                    width: 75px;
                    height:75px; 
                    vertical-align: text-bottom;
                }
                .term_link{
                    color: map-get($colors,secondary);
                    font-size: map-get($fontSizes,xxxs);
                    right: 15px;
                    top: 10px;
                }
                .inner{
                    padding-left: 20px;
                    vertical-align: text-bottom;
                    .value{
                        font-size: map-get($fontSizes,l);
                    }
                    p{
                        color: map-get($colors,secondary);
                        letter-spacing: normal;
                    }
                }
                .redem_outer{
                    margin: -20px 0 0;
                    a{
                        text-decoration: underline;
                        letter-spacing: normal;
                        &:hover{
                            color: map-get($colors,tertiary);
                        }
                    }   
                }
            }
            .list_outer{
                li{
                    @extend .base_content;
                    padding: 20px 10px 20px 0;
                    border-bottom:1px solid map-get($colors,secondary_border);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .value{
                        color: map-get($colors,secondary);   
                    }
                    .point{
                        &.loss{
                            color: map-get($colors,dull_red);   
                        }
                        &.profit{
                            color: map-get($colors,dull_green);   
                        }
                    }
                }
            }
            .show_more{
                @extend .base_content;
                text-decoration: underline;
                margin: 0 auto;
                display: flex;
                width: 90px;
            }
        }
        &.rate_outer{
            .listing_outer{
                li{
                    .ordr_detail{
                        color: map-get($colors,secondary);
                    }
                    .overall_review_rating{
                        margin-bottom: 8px;
                        svg{
                            width: 15px;
                            height: 15px;
                            display: inline-block;
                            margin-right: 4px;
                            fill:map-get($colors,secondary);
                            &.active{
                                fill:map-get($colors,primary);
                            }
                        }
                    }
                }
            }
        }
        &.address_outer{
            .add_address{
                @extend .base_content;
                text-decoration: underline;
                letter-spacing: normal;
                padding-bottom: 25px;
                display: inline-block;
                &:hover{
                    color: map-get($colors,tertiary);
                }
            }
            form {
                button{
                    margin-bottom: 25px;
                }
                .cancel-address{
                    cursor: pointer;
                    text-decoration: underline;
                    padding:0 20px;
                }
            }
            .locatn_sec{
                margin-bottom: 20px;
                @extend .base_content;
                svg{
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
                a{
                    text-decoration: underline;
                    vertical-align: middle;
                    &:hover{
                        color:map-get($colors,tertiary);
                    }
                }
            }
            .map_section{
                margin-bottom: 20px;
                form{
                    top: 10px;
                    right: 98px;
                }
                input{
                    border:1px solid map-get($colors,border_color);
                    border-radius: 0;
                    height: 30px;
                    padding:2px 10px;
                    color: map-get($colors,secondary);
                    @extend .secondary_base_content;
                    min-width: 205px;
                }
                .btn{
                    color: map-get($colors,white);
                    margin: -3px 0 0 -58px;
                    padding: 3px 9px;
                    min-width: auto;
                    letter-spacing: normal;
                    font-size: map-get($fontSizes,xxxs);
                }
            }
            .listing_outer{
                border-top:1px solid map-get($colors,secondary_border);
                li.listing .details .inner{
                    .inr_detail{
                        margin-bottom: 3px;
                    }
                }
            }
        }
        &.needhelp_outer{
            .value_container{
                padding: 25px;
                background: map-get($colors,grey);
                .inner{
                    p{
                        color: map-get($colors,primary);   
                    }
                }
            }
            .list_outer{
                display: flex;
                li{
                    width: 50%;
                    flex-direction: column;
                    border: 0;
                    padding: 0;
                    &:first-child{
                        border-right:1px solid map-get($colors,secondary_border);
                    }
                    .value{
                        max-width: 310px;
                        text-align: center;
                    }
                }
            }
        }
        &.return_outer{
            .subheading{
                font-family: $f-family-secondary-medium;
                margin-bottom: 8px;
            }
            button{
                @extend .base_content;
                background: map-get($colors,primary);
                margin: 15px 0;
                border-radius: 0;
                box-shadow: none;
                border: 1px solid map-get($colors,primary);
                text-transform: capitalize;
                min-width: 135px;
                padding: 10px 16px;
                &:hover{
                    background: map-get($colors,tertiary);
                    border: 1px solid map-get($colors,tertiary);
                }
            }
            .control{
                border: 1px solid map-get($colors,secondary);
                display: inline-block;
                margin-top: 10px;
                button{
                    background: transparent;
                    border: 0;
                    padding: 0 12px;
                    vertical-align: middle;
                    font-family: $f-family-secondary;
                    margin: 0;
                    min-width: auto;
                    font-size: map-get($fontSizes,s);
                }
                input{
                    border: 0;
                    width: 25px;
                    vertical-align: middle;
                    font-size: map-get($fontSizes,xs);
                    font-family: $f-family-secondary;
                    text-align: center;
                }
            }
            .subcontent{
                color: map-get($colors,secondary);
            }
            .listing_outer {
                li.listing{
                    border: 0;
                    .ordr_detail{
                        span{
                            color: map-get($colors,secondary);
                            padding-left: 20px;
                            font-size: map-get($fontSizes,xxxs);
                        }
                    }
               } 
            }
            .form_list{
                form{
                    margin-left: 32px;
                    textarea{
                        min-height: initial;
                    }
                    .slect_outer,.input_outer{
                        max-width: 450px;
                        width: 100%;
                    }
                    .reason{
                        padding: 10px;
                        border: 1px solid map-get($colors,border_color);
                    }
                }
                .radio_outer{
                    padding: 10px 15px 0;
                    flex-direction: row;
                    > label{
                        margin-right: 50px;
                        span{
                            font-family: $f-family-secondary;
                            color: map-get($colors,primary);
                        }
                    }
                }
                .mode_outer{
                    .radio_outer{
                        > label{
                            margin-right: 15px;
                            margin-bottom: 0;
                        }
                    }
                    ul{
                        padding-left: 35px;
                        margin-bottom: 15px;
                        li{
                            font-size: map-get($fontSizes,xxxs);
                            color: map-get($colors,border_color);
                        }
                    }
                }
                .radio_contnt{
                    background: map-get($colors,grey);
                    padding: 5px 15px 5px 30px;
                    display: inline-block;
                    ul li{
                        list-style-type: disc;
                        color: map-get($colors,border_color);
                        padding: 2px 0;
                    }
                }
                h4{
                    font-family: $f-family-secondary-medium;
                    font-size: map-get($fontSizes,xs);
                    span{
                        display: inline-block;
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                        background: map-get($colors,secondary_border);
                        text-align: center;
                        @include border-radius(50%);
                        font-size: map-get($fontSizes,xxxs);
                        padding-top: 3px;
                    }
                }
                .address {
                    margin-top: 12px;
                    p{
                        margin-bottom: 8px;
                        color: map-get($colors,secondary);
                    }
                    a{
                        text-decoration: underline;
                    }
                }
                .notverify{
                    border: 1px solid map-get($colors,dull_red);
                    padding: 10px;
                    img{
                        margin-right: 10px;
                    }
                }
                .verify{
                    border: 1px solid map-get($colors,dull_green);
                    padding: 10px;
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
        &.return_thankyou{
            .thankyoucontnt{
                font-size: map-get($fontSizes,xs);
                color: map-get($colors,border_color);
                img{
                    margin-right: 10px;
                }
            }
            .subsubheading{
                font-size: map-get($fontSizes,xs);
                font-family: $f-family-secondary-medium;
            }
            .sub_list{
                li{
                    margin-bottom: 8px;
                    span{
                        color: map-get($colors,border_color);
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 991px){
        .right_sec{
            &.order_outer .listing_outer .listing .details {
                .inner{
                    padding-left: 10px;
                }
                .add_product,.remove_product{
                    margin: 15px 8px 0 0;
                }
            }
            &.return_outer{
                .custmflex{
                    flex-direction: column;
                }
                .notverify,.verify{
                    margin-top: 10px;
                }
                .reason{
                    margin: 0 !important;
                }
            }
            &.address_outer .locatn_sec{
                > span{
                    display: block;
                    margin-bottom: 8px;
                }
            }
            &.profile_outer form {
                .radio_outer > label{
                    margin-right: 30px;
                }
                .input_radio > legend{
                    margin: 5px 10px 0 15px;
                }
            }
            &.mobile_order_detail{
                .listing_outer .listing {
                    .d-flex{
                        flex-direction: column;
                        .inner_right{
                            margin-top: 15px;
                            flex-direction: row;
                            .links_detail, > p{
                                margin-bottom: 0;
                            }
                        }
                        &.trackorder_outer{
                            flex-direction: row;
                        }
                    }
                    .return_detail li{
                        flex-direction: row;
                    }
                    .innerorder_detail{
                        ul li{
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 767px){
        padding:20px;
        .category_name{
            font-size: map-get($fontSizes,xxs);
            font-family: $f-family-secondary;
            font-weight: normal;
            margin: 0 -20px 20px;
            padding-left: 20px;
            text-decoration: underline;
            border: 0;
            a{
                display: block;
            }
            span{
                display: none;
            }
            svg{
                vertical-align: middle;
            }
        }
        .left_sec{
        }
        .right_sec{
            &.profile_outer form button{
                margin:15px;
            }
            &.order_outer .listing_outer .listing{
                padding: 20px 0 20px 0;
                .details {
                    .add_product,.remove_product{
                        margin: 15px 15px 0 0;
                    }
                    .inner{
                        padding-left:15px;
                       .links{
                            text-align: right;
                            padding-bottom: 15px;
                            border-bottom: 1px solid map-get($colors,secondary_border);
                       }
                    }
                }
                .quantity{
                    text-align: left;
                }
                .details{
                    margin-bottom: 15px;
                }
            }
            &.mobile_order_detail{
                .needhelp_outer form{
                    max-width: 100%;
                }
                .innerorder_detail{
                    h5{
                        padding-top: 10px;
                    }
                    .buffer_border{
                        border: 0;
                        padding-bottom: 10px;
                        border-bottom:1px solid map-get($colors,secondary_border);
                    }
                }
            }
            &.return_outer{
                .form_list .mode_outer .radio_outer > label{
                    margin-right: 0;
                }
                .listing_outer li.listing .ordr_detail span{
                    display: block;
                    padding-left: 0;
                    padding-top: 5px;
                }
            }
        }
    }
    @media only screen and (max-width: 575px){
        .right_sec.profile_outer form {
            .radio_outer{
                flex-direction: column;
                > label{
                    margin-bottom: 0;
                }
            }
            .input_radio > legend{
                margin-top: 12px;
            }
        }
        .right_sec.mobile_order_detail{
            .links_detail{
                margin: 0;
            }
            .listing_outer .listing {
                .d-flex .inner_right .links_detail{
                    margin-left: 15px;
                }
                .d-flex.trackorder_outer{
                    flex-direction: column;
                    align-items: flex-start;
                    border: 0;
                    height: 180px;
                    margin: 20px 0 0 5px;
                    border-left:2px solid map-get($colors,secondary);
                    &:after{
                        border: 0;
                        left: -2px;
                        top: 0;
                        border-left:2px solid map-get($colors,tertiary);
                    }
                    &.one-third:after{
                        height: 33%;
                    }
                    &.half:after{
                        height: 66%;
                    }
                    &.full:after{
                        height: 100%;
                    }
                    li{
                        flex-direction: row;
                        &:before{
                            margin:0 15px 0 -8px;
                        }
                        &:last-child{
                            &:before{
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px){
        .right_sec{
            &.points_outer {
                .value_container {
                    .redem_outer {
                        margin-top: 5px;
                        text-align: left !important;
                        margin-left: 94px;
                    }
                }
                .list_outer li{
                    padding: 20px 0;
                }
            }
            &.order_outer .nav-tabs .nav-item{
                margin-right: 0;
                &:first-child{
                    margin-right:25px;
                }
            }
            &.address_outer .locatn_sec {
                margin-bottom: 25px;
                font-size: map-get($fontSizes,xxs);
            }
            &.needhelp_outer{
                .value_container{
                    padding: 15px;
                    margin-bottom: 10px;
                    .inner .value{
                        font-size: map-get($fontSizes,m);
                    }

                }
                .list_outer{
                    display: block;
                    li{
                        width: 100%;
                        padding: 10px 0 0 0;
                        &:first-child{
                            border: 0;
                            border-bottom: 1px solid map-get($colors,secondary_border);
                        }
                    }
                }
            }
            &.mobile_order_detail{
                .needhelp_outer{
                    .comment_list li p{
                        padding: 10px;
                        font-size: map-get($fontSizes,xxs);
                    }
                    h2{
                        font-size: map-get($fontSizes,buffer_font);
                    }
                }
                form{
                    .input_outer {
                        margin-bottom: 8px;
                    }
                    .input_checkbox label span{
                        font-size: map-get($fontSizes,xxs);
                    }
                }
                .listing_outer .listing {
                    .ordr_detail{
                        span{
                            display: block;
                            padding: 0 !important;
                            margin-bottom: 4px;
                        }
                    }
                    .placing_dte{
                        margin-top: 8px;
                    }
                    .d-flex{
                        .inner_right{
                            .links_detail{
                                margin: 0 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*popup*/
    .canceloder_outer{
        .modal-dialog{
            max-width: 550px;
            margin-top: 40px;
        }
        .modal-body{
            padding: 10px 50px 50px; 
            h2{
                margin-top: 50px;
                font-size: map-get($fontSizes,s);
                letter-spacing: 1.6px;
                font-family: $f-family-default-bold;
            }
            p{
                @extend .secondary_base_content;
                letter-spacing: 1px;
                span{
                    color: map-get($colors,secondary);
                    padding-left: 10px;
                }
            }
            .details{
                img{
                    width: 80px;
                    vertical-align: top;
                }
                .inner{
                    padding-left: 20px;
                    display: inline-block;
                    vertical-align: top;
                    width:calc(100% - 80px);
                    .name{
                        @extend .base_content;
                        margin-bottom: 10px;
                    }
                    .color_name,.size_name,.inr_detail{
                        color: map-get($colors,secondary);
                        margin-bottom: 0;
                    }
                }
                .placing_dte{
                    color:map-get($colors,secondary);
                    font-size: map-get($fontSizes,xxxs);
                }
            }
        }
        .cancel_order_btn[disabled]{
            color: #fff;
        }
        @media only screen and (max-width: 600px){
            .modal-body {
                padding: 10px 20px 11px;
                h2{
                    margin-top: 15px;
                }
                p{
                    span{
                        display: block;
                        padding: 0;
                    }
                }
            }
        }
    }
    .address_outerpopup{
        .modal-dialog{
            max-width: 580px;
        }
        form{
            max-height: 450px;
            overflow: auto;
            padding-right: 15px;
        }
        .verify{
            color: map-get($colors,dull_green);
            font-family: $f-family-secondary;
            img{
                margin-right: 10px;
            }
        }
        .add_new{
            font-family: $f-family-secondary;
            margin: 0 0 20px 35px;
            display: inline-block;
            text-decoration: underline;
        }
        .modal-body {
            padding: 10px 25px 50px;
            h2{
                margin: 35px 0 25px 0;
                letter-spacing: normal;
            }
            .radio_outer label{
                margin-right: 0;
            }
        }
        .content{
            padding:15px;
            border:1px solid map-get($colors,secondary_border);
            p{
                margin:0 0 5px 0;
                @extend .secondary_base_content;
                color:map-get($colors,secondary);

            }
            a{
                @extend .secondary_base_content;
                text-decoration: underline;
            }
        }
    }
    .add_addresspopup{
        .modal-dialog{
            max-width: 770px;
        }
        .modal-body {
            padding: 10px 40px 15px;
            h2{
                margin: 35px 0 25px 0;
                letter-spacing: normal;
            }
        }
        .add_new{
            font-family: $f-family-secondary;
            margin: 0 0 25px 0;
            display: inline-block;
            text-decoration: underline;
        }
    }
    .choose_produt{
        .modal-dialog{
            max-width: 400px;
        }
        .modal-body .radio_outer label{
            align-items: flex-start;
            > span{
                padding-top: 0;
            }
        }
    }
}
/* Need to be removed - start */
.reviewwrite .modal-dialog .modal-body{
    .right_sec{
        background: map-get($colors,grey);
        padding: 30px;
        h3{
            @extend .base_content;
            font-family: $f-family-secondary-bold;
        }
        ul{
            list-style-type: disc;
            padding-left: 20px;
            li{
                @extend .secondary_base_content;
                margin-top: 20px;
            }
        }
    }
    .left_sec{
        .rating_sec{
            margin: 20px 0 10px;
            svg{
                width: 28px;
                height: 28px;
                margin: 0 5px;
                fill:map-get($colors,white);
                stroke:map-get($colors,secondary);
                &.active,&:hover{
                    fill:map-get($colors,primary);
                    stroke:map-get($colors,primary);
                }
            }
        }
        form{
            .input_outer{
                margin-bottom: 20px;
                > div{
                    &:hover{
                        &:before{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                        fieldset{
                            border-color: map-get($colors,tertiary);
                        }
                    }
                    &:after{
                        border-bottom:1px solid map-get($colors,tertiary);
                    }
                }
            }
            input, fieldset{
                @extend .base_content;
            }
            label{
                background: map-get($colors,white);
            }
            fieldset{
                border-radius: 0;
                border: 1px solid rgba(0, 0, 0, 0.42);
            
            }
            .textField{
                label{
                    padding: 0 5px;
                }
            }
            textarea{
                min-height: 80px;
            }
            p{
                color:map-get($colors,secondary);
                margin-left: 0;
            }
        }
    }    
}
/* Need to be removed - end */