.product_detail{
    padding: 0 40px;
    margin: 30px auto 70px;
    .section_outer{
        .slider .slide{
            background: #fff;
        }
        .product_carosel{
            display: flex;
            flex-direction: row-reverse;
            > div{
                /* max-width: 462px;
                 min-height: 594px;*/
                 flex: 1;
            }
            .thumb_outer{
                margin-right: 15px;
                position: relative;
                text-align: center;
                width: 90px;
                min-height: auto;
                flex: initial;
                .control-arrow{
                    display: none;
                    background: rgba(0,0,0,0.2);
                    border: 0;
                    padding: 0;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    margin: 0 auto;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                    &.control-prev{
                        @include transform(rotate(180deg));
                    }
                    &.control-next{
                        bottom: 0;
                    }
                }
            }
            .carosel_thumbnail{
                overflow: hidden;
                img{
                    display: block;
                    border: 2px solid map-get($colors,white);
                    width: 90px;
                    padding: 0;
                    margin-bottom: 9px;
                    cursor: pointer;
                    &:hover{
                        border-color:map-get($colors,white);
                    }
                    &.selected{
                        border-color:map-get($colors,tertiary);
                    }
                }
            }
            .zoom_wrapper{
                z-index: 2;
                top: 0;
                left: 100%;
                max-width: 500px;
                max-height: 550px;
                display: none;
                overflow: hidden;
                @include box-shadow(0px, 1px, 3px, 0px, rgba(0,0,0,0.12));
                img{
                    width: auto;
                }
            }
            .control-dots{
                display: none;
            }
        }
        .carouseldata-cont{
            background-color: #fff;
            text-align: center;
            cursor: crosshair;
            img{
                width: 100%;
            }
        }
        .video-slide{
            img{
                display: none;
            }
        }
        .breadcrumbs{
            margin-bottom:10px;
            li{
                display: inline-block;
                a{
                    @extend .secondary_base_content;
                    color:map-get($colors,secondary);
                    letter-spacing: 1px;
                }
                &:after{
                    content: "\\";
                    display: inline-block;
                    margin:0 3px;
                    color:map-get($colors,secondary);
                }
                &:last-child{
                   &:after{
                    display:none;
                   } 
                }
            }
        }
        h1{
            @extend .section_heading;
            text-transform: capitalize;
            line-height: 1.2;
        }
        .review_rating{
            margin: 15px 0 10px;
            svg{
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-right: 4px;
                fill:map-get($colors,secondary);
                &.active{
                    fill:map-get($colors,primary);
                }
            }
            .review_write{
                @extend .secondary_base_content;
                display: inline-block;
                padding-left: 10px;
                letter-spacing: 1px;
                vertical-align: text-bottom;
                &:hover{
                    color:map-get($colors,tertiary);
                }
            }
        }
        .brandname,.size_guide{
            @extend .secondary_base_content;
            color:map-get($colors,secondary);
            letter-spacing: 1.6px;
            margin-bottom: 10px;
        }
        .price_block{
            align-items: center;
            margin-bottom: 10px;
            .price{
                font-family: $f-family-secondary;
                font-size: map-get($fontSizes,s);
                letter-spacing: 2px; 
            }
            .strike{
                text-decoration: line-through;
                padding: 0 15px 0 25px;
                color: map-get($colors, secondary);
                font-size: map-get($fontSizes,buffer_font);
                font-family: $f-family-secondary;
            }
            .offer{
                color: map-get($colors,dull_red);
                font-family: $f-family-secondary;
                font-size: map-get($fontSizes,buffer_font);
            }
        }
        .color_outer{
            .color{
                padding:1px;
                display: inline-block;
                @include border-radius(50%);
                margin:0 15px 15px 0;
                border: 1px dashed map-get($colors,white);   
                > span{
                    vertical-align: middle;
                    width: 28px;
                    height: 28px;
                    display: inline-block;
                    @include border-radius(50%);
                    cursor: pointer;
                    border: 1px solid map-get($colors,secondary);
                }
                &.active{
                    border: 1px dashed map-get($colors,tertiary);   
                }
                &.disable{
                    border: 1px solid map-get($colors,secondary);;
                    color:map-get($colors,secondary); 
                    opacity: 0.3;
                    cursor: default;
                }
            }
        }
        .sizes{
            margin: 0 auto 20px;
            a{
                margin-right:10px;
                display: inline-block;
                border: 1px solid map-get($colors,primary);;
                @include border-radius(4px);
                min-width: 40px;
                height: 30px;
                padding: 4px 4px 0;
                text-align: center;
                margin-top: 5px;
                @extend .secondary_base_content;
                &:hover,&.active{
                    border: 1px solid map-get($colors,tertiary);;
                    color:map-get($colors,tertiary); 
                }
                &.disable{
                    border: 1px solid map-get($colors,secondary);;
                    color:map-get($colors,secondary); 
                    opacity: 0.3;
                    cursor: default;
                }
            }
        }
        .cart_sec{
            margin-top: 20px;
            .control{
                border: 1px solid map-get($colors,secondary);
                display: inline-block;
                padding: 4px 0;
                margin-right: 20px;
                button{
                    background: transparent;
                    border: 0;
                    padding: 0 15px;
                    vertical-align: middle;
                    font-family: $f-family-secondary;
                    font-size: map-get($fontSizes,s);

                }
                input{
                    border: 0;
                    width: 25px;
                    vertical-align: middle;
                    font-size: map-get($fontSizes,xs);
                    font-family: $f-family-secondary;
                    text-align: center;
                }
                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0; 
                }
            }
            .add_cart{
                background: map-get($colors,primary);
                color: map-get($colors,white);
                @extend .base_content;
                border-radius: 0;
                border: 0;
                padding: 12px 28px;
                &:active,&:hover{
                    background: map-get($colors,tertiary);
                }
            }
        }
        .share_wishlist_sec{
            margin: 20px -25px;
            button{
                background: transparent;
                border:0;
                padding: 0 25px;
                @extend .base_content;
                line-height: 14px;
                border-radius: 0;
                &.buffer_border{
                    border-right: 1px solid  map-get($colors,primary);
                }
                &:hover,&.active{
                    color: map-get($colors,tertiary);
                }
            }

        }
        .pincode_sec{
            margin-top: 35px;
            .note{
                @extend .secondary_base_content;

            }
            .available{
                @extend .base_content;

                color:map-get($colors,black);
                svg{
                    width: 12px;
                    height: 10px;
                }
                a{
                    color:map-get($colors,black);
                    text-decoration: underline;
                    &:hover{
                        color:map-get($colors,tertiary);
                    }
                }
            }
            > form{
                align-items: flex-end;
                
            }
            .chk_avlbty{
                @extend .base_content;
                border: 1px solid map-get($colors,primary);
                background: map-get($colors,white);
                color: map-get($colors,primary);
                box-shadow: none;
                border-radius: 0;
                text-transform: capitalize;
                max-width: 180px;
                height: 39px;
                margin-left: 10px;
                &:hover{
                    color: map-get($colors,white);
                    background: map-get($colors,tertiary);
                    border-color: map-get($colors,tertiary);
                }
            }
            .heading,.delivry_contnt{
                margin-bottom: 15px;
                @extend .base_content;
            }

            form{
                .slect_outer{
                    flex: 1;
                    max-width: 155px;
                    label{
                        @extend .secondary_base_content;
                        @include transform(scale(1));
                        color:map-get($colors,secondary);
                    }
                }
                .selectEmpty{
                    width: 148px;
                    margin-right: 15px;
                    @extend .base_content;
                    font-family: $f-family-secondary-bold;
                    background: transparent url("/img/down-arrow.png") no-repeat right 12px;
                    svg{
                        display: none;
                    }
                    &:focus{
                        outline: 0;
                    }
                    &:after{
                        border-bottom:1px solid map-get($colors,tertiary);
                    }
                    &:hover{
                        &:before{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                    }
                    > div > div{
                        padding: 6px 0;
                        &:focus{
                            background:transparent;
                        }
                    }
                }
            }
           .slctd_city{
                padding-left:5px;
                .selectEmpty{
                    width: auto;
                    margin-right: 8px;
                    min-width: 70px;
                    padding-right: 15px;
                    > div > div{
                        padding-top:3px;
                    }
                    &:after,&:before{
                        border:0;
                    }
                    &:hover{
                        &:before{
                            border:0;
                        }
                    }
                }
            }
        }
        .shipping_detail{
            @extend .secondary_base_content;
            margin-bottom: 0;
        }
    }
    .details_section{
        .nav-tabs{
            border:0;
            .nav-item{
                margin-right: 40px;
                a{
                    border:0;
                    @extend .base_content;
                    font-family: $f-family-secondary-bold;
                    color: map-get($colors,secondary);
                    padding: 8px 0;
                    &:hover,&.active{
                        color: map-get($colors,primary);
                    }
                }
            }
        }
        .common_descp{
            margin-top: 20px;
            @extend .secondary_base_content;
            ul{
                margin-top: 10px;
                list-style-type: disc;
                padding-left: 18px;
            }
            table {
                tr{
                    td{
                        padding-bottom: 10px;
                    }
                }
            }
            ul.spec_outer{
                list-style: none;
                padding-left: 0;
                li{
                    margin-bottom: 10px;
                    .btn{
                        @extend .base_content;
                        text-decoration: none;
                        color:map-get($colors,primary);
                        padding-left: 0;
                        &:before{
                            content:"";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid map-get($colors,primary);
                            margin-right: 20px;
                            @include transform(rotate(45deg));
                            border-width: 1px 0 0 1px;
                            vertical-align: bottom;
                        }
                        &.collapsed:before{
                            vertical-align: baseline;
                            border-width: 0 1px 1px 0;
                        }
                    }
                    .card-body{
                        border: 0;
                        color: map-get($colors,secondary);
                        padding-bottom: 0;
                        table{
                            width: 50%;
                        }
                    }
                }
            }
            .review_outer{
                .overall_review_rating{
                    svg{
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        margin-right: 4px;
                        fill:map-get($colors,secondary);
                        vertical-align: middle;
                        &.active{
                            fill:map-get($colors,primary);
                        }
                    }
                    .review_write{
                        @extend .secondary_base_content;
                        display: inline-block;
                        padding-left: 15px;
                        letter-spacing: 1px;
                        vertical-align: middle;
                        text-decoration: underline;
                        &:hover{
                            color:map-get($colors,tertiary);
                        }
                    }
                }
                .overall_review_count{
                    margin: 10px 0 25px;
                    color: map-get($colors,secondary);
                }
                .show_more{
                    text-decoration: underline;
                    &:hover{
                        color:map-get($colors,tertiary);
                    }
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        border-bottom:1px solid map-get($colors,secondary_border);
                        margin-bottom: 10px;
                        svg{
                            width: 15px;
                            height: 15px;
                            display: inline-block;
                            margin-right: 4px;
                            fill:map-get($colors,secondary);
                            vertical-align: middle;
                            &.active{
                                fill:map-get($colors,primary);
                            }
                        }
                        .review_count{
                            padding-left: 8px;
                        }
                        .review_rating{
                            margin-bottom: 10px;
                        }
                        .sub_desc{
                            margin-bottom: 0;
                            font-size: map-get($fontSizes,xs)
                        }
                    }
                }
            }
        }
    }
    
    .show_chart{
        .modal-dialog{
            max-width: 600px;
        }
        .modal-body{
            img{
                width: 100%;
            }
        }
    }
    .reviewwrite .modal-dialog .modal-body{
        .right_sec{
            background: map-get($colors,grey);
            padding: 30px;
            h3{
                @extend .base_content;
            }
            ul{
                list-style-type: disc;
                padding-left: 20px;
                li{
                    @extend .secondary_base_content;
                    margin-top: 20px;
                }
            }
        }
        .left_sec{
            .rating_sec{
                margin: 20px 0 10px;
                svg{
                    width: 28px;
                    height: 28px;
                    margin: 0 5px;
                    fill:map-get($colors,white);
                    stroke:map-get($colors,secondary);
                    &.active,&:hover{
                        fill:map-get($colors,primary);
                        stroke:map-get($colors,primary);
                    }
                }
            }
            form{
                .input_outer{
                    margin-bottom: 20px;
                    > div{
                        &:hover{
                            &:before{
                                border-bottom:1px solid map-get($colors,tertiary);
                            }
                            fieldset{
                                border-color: map-get($colors,tertiary);
                            }
                        }
                        &:after{
                            border-bottom:1px solid map-get($colors,tertiary);
                        }
                    }
                }
                input, fieldset{
                    @extend .base_content;
                }
                label{
                    background: map-get($colors,white);
                }
                fieldset{
                    border-radius: 0;
                    border: 1px solid rgba(0, 0, 0, 0.42);
                
                }
                .textField{
                    label{
                        padding: 0 5px;
                    }
                }
                textarea{
                    min-height: 80px;
                }
                p{
                    color:map-get($colors,secondary);
                    margin:4px 0 0 0;
                }
            }
        }    
    }
    .image-popup{
        .thumbs-wrapper{
            display: none;
        }
        .modal-body{
            padding: 0 !important;
        }
        .modal-dialog{
            max-width: 500px;
            .close {
                margin-top: -12px;

            }
            .carousel.carousel-slider{
                .control-arrow{
                    &:before{
                        border-top: 12px solid transparent;
                        border-bottom: 12px solid transparent;
                    }
                    &:hover{
                        background: transparent;
                    }
                }
                .control-next.control-arrow:before{
                    border-left: 12px solid map-get($colors,border_color);
                }
                .control-prev.control-arrow:before{
                    border-right: 12px solid map-get($colors,border_color);
                }

            }

        }
    }
    .selct_locn{
        .modal-dialog{
            max-width: 580px;  
        }      
        .modal-body{
            text-align: center;
        }                        
        .store_list{
            max-height: 480px;
            overflow: auto;
            text-align: left;
            padding-right: 10px;
            li{
                padding-top: 20px;
                @extend .secondary_base_content;
                > div{
                    border-bottom: 1px dashed map-get($colors,secondary_border);
                    width: calc(100% - 25px);
                    padding-bottom: 20px;

                }
                &:last-child{
                    > div{
                        border:0;
                    }
                }
                svg{
                    height: 17px;
                    width: 17px;
                    vertical-align: middle;
                    margin-right: 8px;
                }
                .brand_name{
                    font-size: map-get($fontSizes,xs);
                    margin-bottom: 5px;
                }
                .address{
                    font-size: map-get($fontSizes,xxxs);
                    margin-bottom: 8px;
                }
                .address,.contact{
                    color:map-get($colors,secondary);
                }
                .contct{
                    font-family: $f-family-secondary-bold;
                }
                a{
                    text-decoration: underline;
                    vertical-align: middle;
                    margin-right: 30px;
                    &:hover{
                        color:map-get($colors,tertiary);
                    }
                }
            }
        }
        button{
            @extend .base_content;
            background: map-get($colors,primary);
            margin: 15px;
            border-radius: 0;
            box-shadow: none;
            border: 1px solid map-get($colors,primary);
            color: map-get($colors,white);
            text-transform: capitalize;
            min-width: 170px;
            padding: 11px 20px;
            &:hover{
                background: map-get($colors,tertiary);
                border: 1px solid map-get($colors,tertiary);
            }
        }
    }
    .detail_list{
        .card{
            border: 0;
            .card-header{
                background: transparent;
                border: 0;
                padding: 0;
                button{
                    @extend .base_content;
                    color:map-get($colors,primary);
                    padding-left: 0;
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: $f-family-secondary-bold;
                    &:after {
                        font-size: map-get($fontSizes,s);
                        width: 15px;
                        text-align: center;
                        content: '\2212';
                        float: right;
                        margin-left: 5px;
                    }

                    &.collapsed:after {
                      content: "\002B";
                    }
                }
            }
            .card-body{
                padding: 0;
            }
        }
    }
    @media only screen and (max-width: 1024px){
        .section_outer .product_carosel .zoom_wrapper{
            display: none !important;
        }
    }
    @media only screen and (max-width: 991px){
        .section_outer {
            h1{
                font-size: map-get($fontSizes,m);
            }
        }
    }
    @media only screen and (max-width: 800px){
        .section_outer {
            h1{
                font-size: map-get($fontSizes,s);
            }
            .pincode_sec .chk_avlbty{
                max-width: 165px;
                padding: 5px;
            }
        }
    }
    @media only screen and (max-width: 767px){
        padding:0 20px;
        margin-top:0;
        .section_outer {
            .sizes a{
                margin:5px 5px 0 0;
            }
            .price_block{
                align-items: center;
                .price{
                    font-size: map-get($fontSizes,buffer_font);
                }
                .strike{
                    padding: 0 10px;
                    font-size: map-get($fontSizes,xs);
                }
                .offer{
                    font-size: map-get($fontSizes,xs);
                }
            }
            .slider_outer{
                padding: 0;
            }
            .pincode_sec > form .selectEmpty {
                width: 100%;
            }
            .breadcrumbs{
                margin-top: 20px;
            }
            .product_carosel{
                margin: 0 -5px;
                 > div{
                    flex: initial;
                 }
                .control-dots{
                    display: block;
                    bottom: 35px;
                    .dot{
                        opacity: 1;
                        @include box-shadow(1px, 1px, 2px, rgba(0,0,0,.2));
                        &.selected{
                            background: map-get($colors,primary);
                        }
                    }
                }
                .carouseldata-cont{
                    img{
                        max-height: initial;
                    }
                }

            }
            .share_wishlist_sec {
                margin: 20px 0 20px -25px;
            }
            .pincode_sec .available{
                margin-bottom: 0;
            }
        }
        .details_section .detail_list ul.spec_outer li .card-body{
            padding-left: 30px;
            table{
                width: 100%;
                tr{
                    flex-wrap: nowrap;
                }
            }
        }
        .carosel_thumbnail,.thumb_outer{
            display: none;
        }
        .details_section .common_descp{
            margin: 0;
        }
        .reviewwrite .modal-dialog{
            max-width: initial;
            .modal-body{
                .left_sec{
                    padding: 0;
                }
                .right_sec {
                    padding: 20px 12px 5px 12px;
                }
            }
        }
    }
}
.product_detail,.product_listing{
    .like_sec,.product_list{
        background: transparent;
        height: auto;
        .data-cont{
            .title{
                color: map-get($colors,primary);
                position: relative;
                text-transform: capitalize;
                &:after{
                    content:"";
                    display: block;
                    position: absolute;
                    left: 315px;
                    top: 60%;
                    height: 1px;
                    width: 275px;
                    background: map-get($colors,secondary);
                    opacity: 0.5;
                }
                @media only screen and (max-width: 767px){
                    font-size: map-get($fontSizes,s);
                    &:after{
                        left: 210px;
                        width: 28%;
                    }
                }

            }
            a{
                color:map-get($colors,white);
                @extend .base_content;
                text-decoration: underline;
                display: inline-block;
                &:hover{
                    color:map-get($colors,tertiary);
                }
            }
            .img-cont{
                padding: 0;
            }
        }
        &:before{
            display:none;
        }
    }
}
