.righttoleft-direction{
    direction: rtl;
    .top_header{
        text-align: left !important;
    }

    .subcontent{
        padding-left: 0;
        padding-right: 40px;
    }
    .lang{
        margin: 0 0 0 15px;
        &:last-child{
            margin:0;
        }
    }
    .header_contaner {
        .navbar .navbar-brand {
            margin: 0 0 0 60px;
        }
        .selct_outer {
            background: transparent url("/img/down-arrow.png") no-repeat right 12px;
            > div > div {
                padding: 5px 8px 0 15px;
            }
        }
        .navbar {
            .navbar-nav >li.dropdown,.navigaton .common_dropdown{
                .dropdown-menu {
                    &.submenu{
                        > div{
                            text-align: right;
                            ul li {
                                a{
                                    padding: 0 0 0 12px;
                                }
                            }
                        }
                    }
                }
            }
            .navigaton {
                margin: 0 0 0 -15px;
                .common_dropdown .inner {
                    margin: 0 215px 0 30px;
                    text-align: right;
                }
                .login_dropdown .dropdown-menu{
                    left: 20px;
                    right: auto;
                    text-align: right;
                }
            }
        }

    }
    #menu-countryDefaultValue,#menu-currency,#menu-select_city,#menu-select_mall,#menu-select_brand,#menu-select_reason {
        ul li{
            img{
                margin: 0 0 0 8px;
            }
            span{
                margin: 0 10px 0 0;
            }
        }
    }
    .footer_container{
        text-align: right;
        ul{
            li{
                text-align: right;
            }
        }
        @media (min-width: 768px){
            .offset-md-1 {
                margin-right: 8.333333%;
                margin-left: 0
            }
        }
        @media (min-width: 992px){
            .offset-lg-2 {
                margin-right: 16.666667%;
                margin-left: 0
            }
        }
        .google_icons svg {
            margin: 0 0 0 10px;
        }
        .newsletter_sub .btn svg{
            @include transform(rotate(180deg));
        }
        .social_icons,.google_icons p{
            text-align: left !important;
            a{
                margin: 0 0 0 20px;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .home-page{
        .header_banner{
            .bannercontn_outer{
                text-align: right;
            }
            .carousel{
                direction: ltr;
                .control-next{
                    right: auto;
                    left: 85px;
                }
                .control-prev{
                    right: auto;
                    left: 40px;
                }
            }
            .carouseldata-cont {
                .text-cont{
                    left: auto;
                    right: 70px;
                    text-align: right;
                }
                .data-cont{
                    text-align: right !important;
                }
            }

        }
        .just_arrived{
            text-align: right;
            .img-cont .info {
                left: auto;
                right: 55px;
                .title{
                    text-align: right !important;
                }
            }
            .sub-cont{
                left: 30px;
                right: auto;
            }
        }
        .look_book_sec{
            .text-cont{
                right: auto;
                left: 70px;
            }
        }
        .brand_sec_loop .owl-nav{
            right: auto;
            left: 15px;
            direction: ltr;
        }
        .follow_insta_loop .owl-nav{
            direction: ltr;
        }
        .trending_near_loop{
            text-align: right;
            .img-info .price-cont{
                display: flex;
            }
        }
    }
    .product_listing{
        text-align:right;
        .subcategory{
            text-align: right !important;
        }
        .toggle_outer{
            .iOSSwitchBase{
                justify-content: flex-end;
            }
            .iOSChecked{
                @include transform(translateX(16px));
            }

        }

        .filter_outer {
            .filter_list .card {
                .card-body ul li .checkbox_list {
                    + label:before{
                        margin:2px 0 0 8px;
                    }
                    &:checked + label:after{
                        left: auto;
                        right: 11px;
                    }
                    
                }

                .card-header button{
                    padding: 6px 0 6px 12px;
                }
            }
            .filter_heading{
                text-align: left;
            }
        }
        .product_list .data-cont .img-cont{
            .price-cont{
                display: flex;
            }
        }
        .store_outer .modal-body form{
            .selectEmpty{
                margin: 16px 0 0 15px;
                background-position: left 12px;
            }
            .slect_outer{
                label{
                    left: auto;
                    right: 0;
                }
            }
        }
        .sorting_Sec{
            text-align: left !important;
        }
    }
    .login_popup_outer,.reviewwrite,.store_outer,.order_outerpopup,.show_chart{
        .modal-dialog{
            .close{
                right:auto;
                left: -10px;
            }
            .modal-body{
                .left_sec{
                    .icon_sec button svg{
                        left: auto;
                        right: 12px;
                    }
                    form {
                        text-align: right;
                        .input_outer label{
                            left: auto;
                            right: 0;
                            transform-origin: top right;
                        }
                        .buffer_text{
                            padding: 0 12px;
                        }
                    }
                    p{
                        text-align: right;
                    }
                    .content{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .product_detail {
        text-align: right;
        .carousel-slider{
            direction: ltr;
        }
        .reviewwrite .modal-dialog .modal-body .left_sec {
            form{
                p{
                  text-align: right;  
                }
                label{
                    left: auto;
                    right: 0;
                    transform-origin: top right;
                }
                .textField{
                    label{
                        right: 24px;
                    }
                    fieldset legend{
                        width: 0 !important;
                    }
                }
            }
        }
        .section_outer{
            h1{
                text-align: right !important;
            }
            .review_rating svg{
                margin: 0 0 0 4px;
            }
            .color_outer .color{
                margin: 0 0 15px 15px;
            }
            .sizes a{
                margin: 5px 0 0 10px;
            }
            .cart_sec .control{
                margin: 0 0 0 18px;
            }
            .share_wishlist_sec button.buffer_border{
                border: 0;
                border-left: 1px solid  map-get($colors,primary);

            }
            .pincode_sec .chk_avlbty{
                margin: 0 10px 0 0;
            }

            form{
                .selectEmpty{
                    margin: 0 0 0 10px;
                    background-position: left 12px;
                }
                .slect_outer{
                    label{
                        left: auto;
                        right: 0;
                    }
                }
            }
            .product_carosel {
                .thumb_outer{
                    margin:0 0 0 15px;
                }
                .zoom_wrapper{
                    left: auto;
                    right: 100%;
                }
            }
        }

        .details_section {
            .common_descp .review_outer {
                ul li {
                    .review_count{
                        padding: 0 8px 0 0;
                    }
                    svg{
                        margin: 0 0 0 4px;
                    }
                }
                .overall_review_rating {
                    .review_write{
                        padding: 0 15px 0 0;
                    }
                    svg{
                        margin: 0 0 0 4px;
                    }
                }
            }

            .common_descp ul.spec_outer li .btn:before{
                margin: 0 0 0 20px;
            }
            .nav-tabs .nav-item {
                margin-right: 0;
                margin-left: 40px;
            }
        }
    }
    .shopingcart_outer{
        text-align: right;
        h1{
            text-align: right !important;
        }
        .left_outer{
            padding: 0 0 0 15px;
        }
        .right_outer {
            padding:0 5px 0 0;
        }
        .listing_outer {
            li.list_header{
                padding: 10px 0 10px 20px;
                .col-sm-2{
                    text-align: left !important;
                }
            }
            li.listing {
                padding: 20px 0 20px 20px;
                .col-md-2{
                    text-align: left !important;
                }
                .details .inner{
                    padding: 0 20px 0 0;
                    .remove_product {
                        margin: 15px 0 0 15px;
                    }
                }
            }
        }
        .right_sec{
            > form .btn{
                /*@include transform(rotate(180deg)); */
                //margin: 0 -59px 0 0;
                margin-right:-57px;
                position: relative;
            }
            .sub_totl,.grand_totl {
                .text-right{
                    text-align: left !important;
                }
            }
            .paymnt_list img{
                margin: 0 0 0 20px;
            }
        }
    }
    .landing_outer{
        .launching_tab button{
            margin: 0 0 0 15px;
        }

    }
    .checkout_outer{
        text-align: right;
        h1{
            text-align: right !important;
        }
        form {
            label{
                left: auto;
                right: 15px;
                transform-origin: top right;
            }
            .slect_outer .selectEmpty{
                background: transparent url("/img/down-arrow.png") no-repeat left 12px;
            }
        }
        .right_sec{
            .details .inner{
                padding: 0 20px 0 0;
            }
            .paymnt_list img{
                margin: 0 0 0 20px;
            }
            .text-right{
                text-align: left !important;
            }
            .pl-0{
                padding: 0 0 0 15px !important;
            }
        }
        .left_sec .details_section{
            .nav-tabs .nav-item{
                margin-right: 0;
                margin-left: 50px;
                label{
                    margin-right: -12px;
                }
            }
            .tab-content .checkout_acc .card .card-body {
                .locatn_sec svg{
                    margin: 0 0 0 5px;
                }
                .choose_address {
                    .add_address{
                        padding: 0 0 0 60px;
                    }
                    .input_radio > div label > span {
                        padding-right: 0;
                    }  
                }
                .choose_payment {
                    .card_details{
                        margin: 0 45px 0 0;   
                    }
                    .payment-option .card-body label{
                        margin-left: 20px;
                        padding-left: 20px;
                    }
                }
                form {
                    .input_radio {
                        > legend{
                            margin: 0 0 0 30px;
                        }
                        > div label{
                            margin-right: 0;
                            margin-left: 20px;
                        }
                    }
                    .input_checkbox{
                        label{
                            margin-right: 0;
                            span{
                                padding-right: 0;
                            }
                        }
                    }
                }
                p{
                    text-align: right;
                }
                .store_list li{
                    svg{
                        margin: 0 0 0 8px;
                    }
                    .contact svg{
                        @include transform(rotate(260deg));
                        margin: 0;
                    }
                    a{
                        margin: 0 0 0 30px;
                    }
                }
            }
        }
        &.locator_outer{
            .locatn_sec{
                svg{
                    margin: 0 0 0 5px;
                }
            }
            .right_block .store_list li {
                a{
                    margin: 0 0 0 30px;
                }
                svg{
                    margin: 0 0 0 8px;
                }
            }
            .map_section .address_detail a{
                margin: 0 0 0 30px;
            }
        }
        .address_outer .modal-body p{
            text-align: right;
        }
        .modal-body{
            label{
                right: 0;
            }
            .time_span{
                float: left !important;
            }
        }
    }

    .dashboard_outer{
        text-align: right;
        h1{
            text-align: right !important;
        }
        .right_sec{
            &.profile_outer {
                form {
                    p{
                        text-align: right;
                    }
                    .input_radio > legend {
                        margin: 5px 15px 0 30px;
                    }
                    .radio_outer > label{
                        margin: 0 -14px 0 50px;
                    }
                    .input_outer{
                        label{
                            left: auto;
                            right: 15px;
                            transform-origin: top right;
                        }
                    }
                }
            }
            &.needhelp_outer .list_outer li:first-child{
                border: 0;
                border-left:1px solid map-get($colors,secondary_border);

            }
            &.order_outer {
                .listing_outer .listing {
                    .inner_right{
                        text-align: left !important;
                    }
                    .details{
                        .inner{
                            padding: 0 20px 0 0;
                        }
                        .add_product,.remove_product,.review_product,.common_links{
                            margin: 15px 0 0 25px;
                        }
                    }
                }
                 form .selectEmpty{
                    margin: 16px 0 0 15px;
                    background: transparent url("/img/down-arrow.png") no-repeat left 12px;
                 }
                .needhelp_outer{
                    form{
                        label{
                            left: auto;
                            right: 0;
                            transform-origin: top right;
                        }
                        .textField{
                            label{
                                right: 24px;
                            }
                            fieldset legend{
                                width: 0 !important;
                            }
                        }
                    }
                }
                .links_detail{
                    margin: 0 20px 20px 0;
                }
                .nav-tabs .nav-item{
                    margin: 0 0 0 40px;                    
                }
            }
            &.address_outer{
                .locatn_sec svg{
                    margin: 0 0 0 5px;
                }
                .listing_outer{
                    li.listing{
                        .details{
                            .inner{
                                padding: 0 ;
                            }
                        }
                    }
                }
            }
            &.points_outer{
                .value_container{
                    padding: 24px 30px 25px 15px;
                    .redem_outer{
                        text-align: left !important;
                    }
                    .term_link{
                        right: auto;
                        left: 15px;
                    }
                    .inner{
                        padding: 0 20px 0 0;
                    }
                } 
                .list_outer li{
                    padding: 20px 0 20px 10px;
                }
            }
            &.wishlist_outer {
                .listing_outer li.listing {
                    padding: 20px 0 20px 20px;
                    .price{
                        text-align: left !important;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 991px){
        .header_contaner{
            .navbar .navbar-brand {
                margin: 0 0 0 15px;
            }
            .navbar .navigaton .common_dropdown .inner{
                margin: 0 auto;
            }
        }
        .product_detail .section_outer .cart_sec .control {
            margin: 0 0 0 10px;
        }
        .dashboard_outer {
            .right_sec{
                &.profile_outer form .radio_outer > label{
                    margin: 0 -14px 0 30px;
                }
            }
        }
    }
    @media only screen and (max-width: 767px){
        .home-page{
            .just_arrived .img-cont .info {
                left: auto;
                right: 0;
                .title{
                    text-align: center !important;
                }
            }
        }
        .header_contaner{
            .subcontent{
                padding: 5px;
            }
            .navbar{
                text-align: right;
                .navbar-toggler svg{
                    @include transform(rotate(180deg));
                }
                .mobile_menu_outer .close_menu{
                    right: auto;
                    left: 22px;
                }
                ul li a{
                    text-align: right;
                }
                .collapsed.navbar-toggler + .navbar-collapse{
                    right: -91%;
                }
                .navbar-toggler + .navbar-collapse{
                    left: auto;
                    right: 0;
                    @include transition(right .6s);
                }
            }
        }
        .product_listing{
            .sort_filter_outer{
                .text-left{
                    text-align: right !important;
                }
                .text-right{
                    text-align: left !important;
                }
            }
            .product_list .data-cont .img-cont .price-cont{
                display: block;
            }
            .filter_outer{
                left: -91%;
                right: auto;
                @include transition(left .6s);
                &.filter_open{
                    left: 0;
                    right: auto;
                    @include transition(left .6s);
                }
                .filter_heading{
                    text-align: right;
                    .float-right{
                        float: left !important;
                    }
                    .cross_icon svg{
                        margin: 0  0 0 20px;
                    }
                }
            }
        }
        .product_detail {
            .detail_list .card .card-header button{
                padding-left: 12px;
                padding-right: 0;
            }
            .section_outer .share_wishlist_sec {
                margin: 20px -25px 20px 0;
            }
            .details_section .detail_list ul.spec_outer li .card-body{
                padding-left: 0;
                padding-right: 45px;
            }
        }
        .landing_outer .launching_tab .launch_btn{
            margin: 0 0 0 5px;
        }
    }
    @media only screen and (max-width: 575px){
        .footer_container{
            .google_icons svg{
                margin: 0px 5px;
            }
            .social_icons{
                text-align: center !important;
                a{
                    margin: 0 0 0 35px;;
                }
            }
        }
    }
    @media only screen and (max-width: 480px){
        .header_contaner .navbar .navbar-brand {
            left: auto;
            right: 68px;
        }
    }
    @media only screen and (max-width: 375px){
        .login_popup_outer,.reviewwrite,.store_outer,.order_outerpopup,.show_chart{
             .modal-body .left_sec form{
                button.send_otp{
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }

    }
}
