@font-face{
    font-family: 'KotoriRose-Regular';
    src: url('/font/KotoriRose-Regular.eot') format('embedded-opentype'),
    url('/font/KotoriRose-Regular.woff') format('woff'),
    url('/font/KotoriRose-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'KotoriRose-Bold';
    src: url('/font/KotoriRose-Bold.eot') format('embedded-opentype'),
    url('/font/KotoriRose-Bold.woff') format('woff'),
    url('/font/KotoriRose-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TTNorms-Bold';
    src: url('/font/TTNorms-Bold.eot') format('embedded-opentype'),
    url('/font/TTNorms-Bold.woff') format('woff'),
    url('/font/TTNorms-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TTNorms-Medium';
    src: url('/font/TTNorms-Medium.eot') format('embedded-opentype'),
    url('/font/TTNorms-Medium.woff') format('woff'),
    url('/font/TTNorms-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TTNorms-Regular';
    src: url('/font/TTNorms-Regular.eot') format('embedded-opentype'),
    url('/font/TTNorms-Regular.woff') format('woff'),
    url('/font/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

