.footer_container{
    background: map-get($colors,grey);
    padding: 40px;
    h6{
        font-size: map-get($fontSizes,xs);
        font-family: $f-family-default-bold; 
    }
    ul{
        li{
            padding-bottom: 5px;
            a{
                @extend .secondary_base_content;
            }
        }
    }
    .newsletter_sub{
        input{
            background: transparent;
            border: 0;
            border-bottom:1px solid map-get($colors,border_color);
            border-radius: 0;
            height: 36px;
            margin-top: 20px;
            color: map-get($colors,secondary);
            @include calc( width, '100% - 40px');
            @extend .base_content;
        }
        p{
            font-family: $f-family-default-bold; 
        }
        .btn{
            padding: 0;
            border:0;
            background: transparent;
            svg{
                width: 40px;
                height: 40px;
            }
        }
    }
    .google_icons{
        align-items: baseline;
        svg{
            width: 112px;
            height: 35px;
            margin-right: 10px;
        }
        p{
            margin: 0;
            color: map-get($colors,secondary);
            @extend .secondary_base_content;
            
        }
    }
    .social_icons{
        a{
            margin-right: 20px;
            &:last-child{
                margin: 0;
            }
        }
        svg{
            display: inline-block;
            height: 18px;
            width: 25px;
            &.icon-facebook{
                width: 10px;
            }
        }
    }
    @media only screen and (max-width: 991px){
        padding:20px;
    }
    @media only screen and (max-width: 767px){
        .social_icons{
            margin: 35px 0 20px;
        }
    }
    @media only screen and (max-width: 575px){
        .google_icons{
            text-align: center;
            p{
                margin-top: 10px;
            }
            svg{
                width: 130px;
                height: 40px;
                margin: 0px 5px;

            }
        }
        .social_icons{
            text-align: center;
            a{
                margin-right: 35px;
            }
            svg{
                height: 25px;
                &.icon-facebook{
                    width: 10px;
                }
            }
        }
    }
}