.header_contaner{
    display: flex;
    flex-wrap: wrap;
    .innercontnt{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top_header{
        padding:6px 40px; 
    }
    .subcontent{
        flex: 1;
        justify-content: space-between;
        display: flex;
        padding-left: 35px;
        font-family: $f-family-secondary-bold;
        align-items: center;
        
        span{
            font-size: map-get($fontSizes,xxs);
        }
    }
    .selct_outer{
        @extend .secondary_base_content;
        background: transparent url("/img/down-arrow.png") no-repeat left 12px;
        img{
            margin-right: 8px;
            width: 14px;
            @include border-radius(50%);
        }
        span{
            display: inline-block;
            margin-left: 10px;
        }
        svg{
            display: none;
        }
        &:after,&:before{
            border:0 !important;
        }
        &:focus{
            outline: 0;
        }
        > div > div{
            padding: 5px 22px 0 15px;
            &:focus{
                background:transparent;
            }
        }
    }
    .lang{
        @extend .secondary_base_content;
        margin-right:15px;
        cursor: pointer;
        &:last-child{
            margin-right:0;
        }
    }
    .navbar{
        border-top:1px solid rgba(151, 151, 151,0.3);
        border-bottom:1px solid rgba(151, 151, 151,0.3);
        padding:0 40px;
        width: 100%;
        height : 90px ; /*added by amit*/
        background: map-get($colors,white);
        .navbar-brand{
            margin: 0 40px 3px 0;
            img{
               /* width: 60px; comment by amit */
            }
        }
        .show_more{
            background: transparent;
            border:0;
            @extend.secondary_base_content;
            text-decoration: underline;
            padding: 15px 0 0;
        }
        .navbar-nav{
            > li{
                a{
                    @extend .secondary_base_content;
                    color: map-get($colors,primary);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding: 28px 12px;
                    cursor: pointer;
                    &:after{
                        display:none;
                    }
                    img{
                        height: 45px;
                        width:80px;
                        margin-bottom: 15px;
                    }
                }
                &.active,&:hover{
                    a{
                        font-family: $f-family-secondary-bold; 
                    }
                }
               
            }
        }

        .navbar-nav >li.dropdown,.navigaton .common_dropdown{
            position: static;
            .dropdown-menu {
                width: 100%;
                border:0;
                border-top:1px solid rgba(151, 151, 151,0.3);
                left: 0;
                right: 0;
                top: 65px;
                display:block;
                visibility: hidden;
                opacity: 0;
                @include transition(visibility 0s, opacity 0.3s linear);
                @include box-shadow(0, 5px, 6px, -3px, rgba(0, 0, 0, 0.19));
                border-radius: 0;
                &.submenu{
                    padding: 20px 25px 40px;
                    > div{
                        padding: 0 15px;
                    }
                    h6{
                        @extend.secondary_base_content;
                        text-transform: uppercase;
                        font-family: $f-family-secondary-bold; 
                    }
                    ul{
                        li a{
                            @extend.secondary_base_content;
                            padding:0 12px 0 0;
                            text-transform: capitalize;
                            color: map-get($colors,secondary);
                            &:hover,&:focus{
                                color: map-get($colors,primary);
                            }
                        }
                    }
                }
            }
        }
        .navbar-nav >li.dropdown{
            &:hover .dropdown-menu, .dropdown-menu:hover{
                display:block;
                visibility: visible;
                opacity: 1;
                @include transition(visibility 0s, opacity 0.3s linear);
            }
        }
        .navigaton .common_dropdown .dropdown-toggle{
            &:hover + .dropdown-menu, + .dropdown-menu:hover{
                display:block;
                visibility: visible;
                opacity: 1;
                @include transition(visibility 0s, opacity 0.3s linear);
            }
        }
        .navbar-collapse{
            flex-grow: 0;
        }
        .navigaton{
            margin-right: -15px;
            flex-grow: 1;
            align-items: center;
            display: flex;
            .search_form,.hover_outer{
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                align-self: baseline;
            }
            .common_dropdown{
                .search{
                    background: transparent;
                    padding:20px 0;
                }
                .dropdown-toggle::after{
                    display: none;
                }
                .inner{
                    max-width: 948px;
                    margin: 0 30px 0 215px;
                    input{
                        border:0;
                        color: map-get($colors,primary);
                        border-bottom: 1px solid map-get($colors,secondary);
                        @extend .base_content;
                        border-radius: 0;
                        padding-left: 0;
                        padding-right: 0;
                        margin: 13px 0;
                    }
                    .serch_output{
                        @extend .secondary_base_content;
                        p{
                            margin-bottom: 0.4rem;
                        }
                        ul{
                            li a {
                                color: map-get($colors,secondary);
                            }
                        }
                    }
                }
            }
            .login_dropdown{
                .dropdown-menu{
                    right: 20px;
                    left: auto;
                    width: 200px;
                    top: 50px;
                    border: 0;
                    padding:20px 30px;
                    @include border-radius(5px);
                    @include box-shadow(0, 2px, 8px, 0, rgba(0, 0, 0, 0.19));
                    a,span{
                        @extend .base_content;
                        padding:5px 0;
                        text-transform: capitalize;
                        color: map-get($colors,primary);
                        &:hover,&:focus{
                            background:transparent;
                            color: map-get($colors,tertiary);
                        }
                    }
                    span{
                        color: map-get($colors,secondary);
                        &:hover{
                            color: map-get($colors,secondary);
                        }
                    }
                }
            }
            .cart_bag{
                position: relative;
                span{
                    position: absolute;
                    top: 5px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    z-index: 1;
                    @extend .secondary_base_content;
                    font-size: map-get($fontSizes,xxxs);
                }
            }
            > a,button{
                margin: 0 15px;
            }
            svg{
                width: 22px;
                height: 22px;
            }
        }
        .mobile_menu_outer{
            padding: 20px 20px 5px;
            height: 100%;
            .close_menu{
                position: absolute;
                top: 13px;
                right: 22px;
                z-index: 1;
                svg{
                    width: 15px;
                    height: 15px;
                }
            }
            .menu_list .card .login_outer.card-body{
                padding-bottom: 20px;
                span{
                    @extend .secondary_base_content;
                }
            }
            ul li,.login_outer{
                a{
                    @extend .secondary_base_content;
                    display: inline-block;
                    text-transform: capitalize;
                    color: map-get($colors,secondary);
                    &:hover,&:focus{
                        color: map-get($colors,primary);
                    }
                }
            }
            p{
                margin: 10px -20px 5px;
                @extend .secondary_base_content;
                border-top: 1px solid map-get($colors,secondary_border);
                padding-top: 5px;
                text-align: center;
                color: map-get($colors,secondary);
                a{
                    color: map-get($colors,secondary);
                    display: inline-block;
                    width: 48%;
                }
            }
            .bottom_links{
                li a{
                    display: inline-block;
                    padding: 15px 12px 0 0;
                }
            }
            .menu_list{
                margin-top: 10px;
                .card{
                    border: 0;
                    border-bottom: 1px solid map-get($colors,secondary_border);
                    border-radius: 0;
                    .card-header{
                        background: transparent;
                        border: 0;
                        padding: 0;
                        button{
                            @extend .base_content;
                            color:map-get($colors,primary);
                            padding-left: 0;
                            width: 100%;
                            text-decoration: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-right: 0;
                            .custom_minus,.custom_plus{
                                font-size: map-get($fontSizes,s);
                                width: 15px;
                                text-align: center;
                            }
                            &.active{
                                font-family: $f-family-secondary-bold; 
                            }
                        }
                    }
                    .card-body{
                        padding: 0;
                        .menu_inner{
                            margin-bottom: 30px;
                        }
                        ul{
                            margin: 0;
                        }
                        h6{
                            @extend .secondary_base_content;
                        }
                        img{
                            max-height: 40px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            
        }
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    @media only screen and (max-width: 991px){
        .navbar .navigaton .common_dropdown .inner {
            max-width: 767px;
            margin: 0 auto;
            padding: 0 40px;
        }
        .navbar .navigaton{
            > a, button{
                margin: 0 12px;
            }
        }
        .navbar .navbar-brand{
            margin-right: 15px;
            img{
                width: 60px;
            }
        }
        .navbar .navbar-nav > li a{
            padding: 28px 8px;
        }
    }
    @media only screen and (max-width: 767px){
        display: block;
        .subcontent{
            padding: 5px;
            span{
                font-size: map-get($fontSizes,xxxs);
            }
        }
        .navbar{
            padding: 0 20px;

            .navbar-toggler{
                border: 0;
                padding: 0;
                order:3;
                svg{
                    width: 32px;
                    height: 20px;
                }
            }
            .navbar-brand{
                margin:0 0 0 5px;
                order:2;
               
            }
            .collapsed.navbar-toggler + .navbar-collapse{
                left: -91%;
            }
            .navbar-toggler + .navbar-collapse{
                order: 4;
                bottom: 0;
                background: map-get($colors,white);
                overflow: auto;
                position: fixed;
                top: 0;
                @include box-shadow(-2px, 0, 10px, 0, rgba(0, 0, 0, 0.5));
                z-index: 99;
                width: 90%;
                left: 0;
                @include transition(left .6s);
                height: 100% !important;
                display: block;

            }
            .navigaton{
                order:1;
                display: flex;
                align-items: center;
                margin-left: 0;
                flex-grow: initial;
                .search_form{
                    order: 1;
                    margin-left: 0;
                    flex-grow: initial;
                    .search{
                        display: flex;
                        padding: 15px 0;
                        margin-left: 15px;
                    }
                }
                a{
                    margin:0; 
                }
                .cart_bag span{
                    top: 5px;
                }
                .common_dropdown .dropdown-menu{
                    top: 54px;
                    .inner {
                        padding: 0 25px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px){
        .navbar{
           padding: 5px 20px;
           height: 60px; /* addded by amit*/
            .navbar-brand{
                position: absolute;
                left: 68px;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .nav-before-open {
        height: 100%;
        width: 100%;
    }
    html.nav-before-open {
        overflow: hidden;
    }
    .nav-open .navbar-toggler:after {
        background: rgba(0,0,0,0.01);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
#menu-countryDefaultValue,#menu-currency,#menu-select_city,#menu-select_mall,#menu-select_brand,#menu-select_reason {
    > div + div{
        max-width: 300px !important;
        max-height: 300px;
        margin-top: 15px;
        @include box-shadow(0, 2px, 8px, 0, rgba(0, 0, 0, 0.19));
    } 
    .city_srch{
        border: 0;
        background: map-get($colors,grey);
        @extend .secondary_base_content;
        color: map-get($colors,secondary);
        width: 100%;
        padding: 3px 5px;
    }
    ul {
        padding: 15px;
        width: 100% !important;
        li{
            @extend .secondary_base_content;
            padding: 5px 0;
            background: transparent;
            line-height: 1.3em;
            height: auto;
            letter-spacing: 1px;
            white-space: normal;
            &:hover{
                background: transparent;
                color: map-get($colors,tertiary);
            }
            img{
                margin-right: 8px;
                width: 14px;
                @include border-radius(50%);
            }
            span{
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}
#menu-select_city{
    > div + div{
        width: 300px;
        margin-top: 75px;
    }
}