.home-page{
	.section{
		margin-bottom: 28px;
		a{
			color:map-get($colors,white);
			@extend .base_content;
			text-decoration: underline;
			display: inline-block;
			&:hover{
				color:map-get($colors,tertiary);
			}
		}
	}
	.header_banner{
		.carousel-slider{
			.control-prev,.control-next{
				top: auto;
				bottom: 20px;
				left: auto;
				right: 85px;
				width: 42px;
				height: 42px;
				background-image: url("/img/pre.svg");
				padding: 0;
				opacity: 1;
				&:before{
					display:none;
				}
			}
			.control-next{
				right: 40px;
				background-image: url("/img/far.svg");
			}
		}
		.carouseldata-cont{
			cursor: pointer;
			position: relative;
			.text-cont{
				position: absolute;
				bottom: 150px;
				left: 70px;
				text-align: left;
				color: map-get($colors,white);
				.title{
					@extend .banner_heading;
					@include text-shadow(0, 2px, 7px, rgba(0, 0, 0, 0.25));
				}
				.info{
					padding: 2px;
				}
				.info,.view{
					@extend .base_content;
					@include text-shadow(0, 2px, 7px, rgba(0, 0, 0, 0.25));
				}
			}
		}
		.plus-cont{
			position: absolute;
			svg{
				width: 40px;
				height: 40px;
				cursor: pointer;
			}
			.plus-data-cont{
				.data-cont{
					width: 260px;
					opacity: 0;
					display: none;
	                @include transition(all 0.3s linear);
					position: absolute;
					@include transform(translateY(-50%));
					right: -218px;
					z-index: 2;
					padding: 0 10px;
					img{
						width: 100%;
					}
					.data-cont-inner{
						width: 212px;
						margin: 0 auto;
						
						background-color: map-get($colors,white);
						@include border-radius(8px);
						@include box-shadow(0, 14px, 25px, 0, rgba(0, 0, 0, 0.19));
					}
					.prod-name{
						@extend .base_content;
						margin: 10px 0 8px;
						a{
							color: map-get($colors,primary);
							text-decoration: none;
							&:hover{
				                color:map-get($colors,tertiary);
				            }
						}
					}
					.price-cont{
						.brand,.price{
							@extend .secondary_base_content;
							color: map-get($colors, secondary);
						}
						.saperator{
							@extend .secondary_base_content;
							margin: 0 12px;
						}
					}
					.btn-cont{
						margin-top: 20px;
						border-top: solid 1px map-get($colors,grey);
						padding: 2px;
						text-align: center;
						.btn{
							display: inline-block;
							vertical-align: middle;
							@extend .base_content;
							border-radius: 0;
							width: 50%;
							font-family: $f-family-secondary-bold; 
						}
						.btn-left{
							border-right: solid 1px map-get($colors,grey);
						}
					}
					.inner{
						position: relative;
						padding: 10px;
						&.left,&.right,&.top,&.down{
							&:after{
								position: absolute;
								display: block;
								content: "";
								width: 0;
								height: 0;
								border-style: solid;
							}
						}
						&.left{
							&:after{
								left: -10px;
								top: 14%;
								border-width: 12px 12px 12px 0;
								border-color: transparent map-get($colors,white) transparent transparent;
							}
						}
						&.right{
							&:after{
								right: -10px;
								top: 14%;
								border-width:12px 0 12px 12px;
								border-color: transparent transparent transparent map-get($colors,white);
							}
						}
						&.top{
							&:after{
								right: 60px;
								top: -11px;
								border-width:0 12px 12px 12px;
								border-color: transparent transparent map-get($colors,white) transparent;
							}
						}
						&.down{
							&:after{
								right: 60px;
								bottom: -11px;
								border-width:12px 12px 0 12px;
								border-color: map-get($colors,white) transparent transparent transparent;
							}
						}
						.bannerimg_outer{
							a{
								text-decoration: none;
							}
						}
					}
				}
				&:hover{
					.data-cont{
						opacity: 1;
						display: block;
		                @include transition(all 0.3s linear);
		            }
				}
			}
		}
	}

	.collection_block{
		.img-cont{
			position: relative;
			cursor: pointer;
			img{
				width: 100%;
			}
			.info{
				position: absolute;
				color: map-get($colors,white);
				left: 0;
				right: 0;
				top: 50%;
				@include transform(translateY(-50%));
				.title{
					@extend .section_heading;
				}
				.view-details{
					margin-top: 13px;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}

	.just_arrived{
		padding: 0 30px;
		position: relative;
		.img-cont{
			cursor: pointer;
			display: inline-block;
			position: relative;
			width: 35%;
			img{
				width: 100%;
			}
			.info{
				position: absolute;
				width: 52%;
				color: map-get($colors,white);
				top: 50%;
				@include transform(translateY(-50%));
				left: 55px;
				.title{
					@extend .section_heading;
					margin-bottom: 15px;
					line-height: 38px;
				}
				.des{
					@extend .base_content;
					margin-bottom: 40px;
				}
			}
		}
		.sub-cont{
			position: absolute;
			right: 30px;
			top: 50%;
			width: 65%;
			@include transform(translateY(-50%));
		    @media only screen and (max-width: 1024px){
		    	width: 620px;
		    }
		    
			.item{
				img{
					width: 100%;
				}
				.hover_srch{
					position: absolute;
				    left: 0;
				    right: 0;
				    top: 0;
				    visibility: hidden;
				    bottom: 0;
				    background-color: rgba(252, 207, 58, 0.55);
	                text-align: center;
	                opacity: 0;
	                @include transition(all 0.3s linear);
	                a{
		                top: 50%;
		                left: 0;
		                right: 0;
				    	width: 42px;
		                margin: 0 auto;
						@include transform(translateY(-50%));
	                	position: absolute;
	                }
				    svg{
				    	width: 42px;
				    	height: 42px;
				    }
				}
				&:hover{
					.hover_srch{
	                	@include transition(all 0.3s linear);
						opacity: 1;
	                	visibility: visible;
					}
				}
			}
		}
		@media only screen and (max-width: 1024px){
			.img-cont{
				width: 45%;
			}
			.sub-cont{
				width: 55%;
			}
		}	
	}

	.look_book_sec{
		cursor: pointer;
		position: relative;
		img{
			width: 100%;
		}
		.text-cont{
			position: absolute;
			display: inline-block;
			bottom: 110px;
			right: 70px;
			color: map-get($colors,white);
			.title{
				@extend .banner_heading;
				@include text-shadow(0, 2px, 7px, rgba(0, 0, 0, 0.25));
			}
			.info,.view{
				@include text-shadow(0, 2px, 7px, rgba(0, 0, 0, 0.25));
			}
			.info{
				@extend .base_content;
			}
			.view{
				margin-top: 8px;
			}
		}
	}
	.brand_carosel{
		li.slide{
			width: 50%;
			min-width: auto;
		}
	}
	.brand_sec{
		.img-cont{
			cursor: pointer;
			position: relative;
			.sec-img{
				width: 100%;
			}
			.info{
				position: absolute;
				bottom: 50px;
				left: 0;
				right: 0;
				text-align: center;
				z-index: 1;
				color: map-get($colors,white);
				img{
					margin-bottom: 10px;
				}
				.title{
					@extend .section_heading;
					margin-bottom: 8px;
				}
				.des{
					@extend .base_content;
					margin-bottom: 20px
				}
			}
			&:after{
				display:block;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(rgba(255, 255, 255,0) 21%, rgba(0, 0, 0,0.6) 60%);
			}
		}
	}
	.brand_sec_loop{
		.owl-nav{
			position: absolute;
		    right: 15px;
		    bottom: 15px;
		    .owl-prev,.owl-next{
			    width: 42px;
				height: 42px;
				span{
					display: none;
				}
		    }
		    .owl-prev{
				background-image: url("/img/pre.svg");
		    }
		    .owl-next{
				background-image: url("/img/far.svg");
		    }
		}
	}
	.shop_here_Sec{
		cursor: pointer;
		position: relative;
		img{
			width: 100%;
		}
		.info{
			color:map-get($colors,white);
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			@include transform(translateY(-50%));
			.title{
				@extend .section_heading;
				margin-bottom: 10px;
			}
			.des{
				@extend .base_content;
				margin-bottom: 20px;
			}
		}
	}

	.follow_insta{
		margin-top: 60px;
		.title{
			@extend .section_heading;
			margin-bottom: 15px;
		}
		.follow_insta_loop{
			.owl-stage-outer{
				padding: 40px 0;
				.owl-item{
		            @include transition(all 0.3s linear);
		            a{
		            	display: block;
		            }
					&:hover{
					    z-index: 1;
					    position: relative;
						@include box-shadow(0, 2px, 8px, 0, rgba(0, 0, 0, 0.19));
						@include transform(scale(1.3));
		                @include transition(all 0.3s linear);
					}
				}
			}
		}
	}
	.trending_near_loop,.follow_insta{
		.owl-nav{
			.owl-prev,.owl-next{
				position: absolute;
				top: 50%;
				margin: 0;
				@include transform(translateY(-50%));
				width: 40px;
				height: 40px;
				text-align: center;
				@include border-radius(50%);
				background-color: map-get($colors,secondary);
				color: map-get($colors,white);
	            @include transition(all 0.3s linear);

				span{
					line-height: 18px;
					font-size: map-get($fontSizes,m);
				}
				&:hover{
	                @include transition(all 0.3s linear);
					background-color: rgba(252, 207, 58,0.8);
				}
			}
			.owl-prev{
				left: 15px;
			}
			.owl-next{
				right: 15px;
			}
		}
	}
	.trending_near_loop{
		.owl-nav{
			.owl-prev{
				left: 0;
			}
			.owl-next{
				right: 0;
			}
		}
	}
	@media only screen and (max-width: 767px){
		.follow_insta,.trending_near .data-cont,.shop_here_Sec .info,.just_arrived .img-cont .info{
			.title{
				font-size: map-get($fontSizes,s)
			}
		}
		.follow_insta{
			.title{
				margin-bottom: 20px;
			}
		}

		.header_banner{
			.carouseldata-cont .text-cont{
				cursor: pointer;
				bottom: 30px;
	    		left: 20px;
	    		.title{
					font-size: map-get($fontSizes,l);
					line-height: 50px;
	    		}
			}
			.carousel-slider{
				.control-prev,.control-next{
					width: 30px;
    				height: 30px;
    				background-size: cover;
				}
				.control-prev{
					right: 75px;
				}
			}
		}
		.follow_insta,.trending_near_loop{
			.owl-nav {
				.owl-prev,.owl-next{
					width: 30px;
    				height: 30px;
    				span{
    					line-height: 20px;
    				}
				}
			}
		}
		.brand_sec {
			.img-cont .info .title{
				font-size: map-get($fontSizes,buffer_font);
				line-height: 20px;
			}
			.owl-nav {
				.owl-prev,.owl-next{
					width: 30px;
    				height: 30px;
    				background-size: cover;
				}
				.owl-prev{
					right: 75px;
				}
			}
			.img-cont .info{
				@include transform(translateY(-50%));
				top: 50%;
				bottom: initial;
			}
		}
		.section {
		    margin-bottom: 20px;
		}
		.look_book_sec .text-cont{
			@include transform(translateX(-50%));
			left: 50%;
			right: initial;
			bottom: 30px;
			text-align: center;
			.title{
				font-size: map-get($fontSizes,m);
				line-height: 38px;
			}
		}
		.just_arrived{
			padding: 0;
			.img-cont{
				width: 100%;
				display: block;
				.info{
					top: 60px;
					width: 100%;
					left: 0;
					right: 0;
					text-align: center;
					.title{
						width: 100%;
						text-align: center !important;
					}
				}
			}
			.sub-cont{
				width: 100%;
				padding: 0 0 0 20px;
				position: initial;
				@include transform(translateY(-0%));
				margin-top: -100px;
			}
		}
		.collection_block .img-cont .info .title{
			font-size: map-get($fontSizes,m);

		}
		.shop_here_Sec img {
		    min-height: 200px;
		}
		.header_banner .carouseldata-cont .plus-cont .plus-data-cont{
		 	.data-cont{
		 		width: 300px;
		 		.inner{
		 			display: flex;
    				flex-direction: row;
    				.bannerimg_outer img{
    					width: 90px;
    					margin-right: 15px;
    				}
    				.bannercontn_outer{
					    display: flex;
					    flex-direction: column;
					    justify-content: space-between;
    				}
		 		}
		 		.prod-name{
		 			margin-top: 0;
		 		}
		 	}
		}
	}
}
.home-page,.product_detail,.product_listing{
	.trending_near,.like_sec,.product_list{
		position: relative;
		&:before{
			content:"";
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 390px;
			background-color: map-get($colors,bg_primary);
			z-index: -1;
		}
	    @media only screen and (max-width: 1200px){
	    	&:before{
	    		height: 360px;
	    	}
	    }
	    @media only screen and (max-width: 1024px){
	    	&:before{
		    	height: 310px;
		    }
	    }
	    @media only screen and (max-width: 600px){
	    	&:before{
		    	height: 260px;
		    }
	    }
	    @media only screen and (max-width: 480px){
	    	&:before{
		    	height: 150px;
		    }
	    }
		.data-cont{
			padding-top: 70px;
			.title{
				@extend .section_heading;
				margin-bottom: 50px;
				color: map-get($colors,white);
			}
			
			.img-cont{
				padding: 0 40px;
				.img_outer{
					position: relative;
					img{
						width: 100%;
						cursor: pointer;
					}
		            >a {
		                width: 100%;
		            }
					.size-cont{
						background-color: rgba(252, 207, 58,0.8);
						padding: 12px 5px;
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						text-align: center;
						opacity: 0;
						z-index:1;
	                	@include transition(all 0.5s linear);
						.sizes{
							margin: 0 auto 12px;
							a{
								
								margin: 0 2px 5px;
								display: inline-block;
								border: 1px solid map-get($colors,white);;
								@include border-radius(4px);
								min-width: 28px;
								height: 22px;
								text-decoration: none;
								padding: 2px 2px 0;
								font-size: map-get($fontSizes,xxxs);
								&:hover,&.active{
									background:map-get($colors,white);
									color:map-get($colors,tertiary);
								}
							}
						}
						.icons{
							margin: 0 auto;
							svg{
								width: 26px;
								height: 24px;
								margin: 0 10px; 
								display: inline-block;
								fill: transparent;
								stroke:map-get($colors,white);
								stroke-width:1.5px;
								&:hover{
									fill:map-get($colors,white);
									stroke: transparent;
								}
								&.icon-Combined-Shape{
									stroke-width:1px;
									width: 24px;
    								height: 26px;
								}
							}
						}
						@media only screen and (max-width: 600px){
					   		display: none;
					    }
					}
					&:hover{
						.size-cont{
	                		@include transition(all 0.5s linear);
							opacity: 1;
						}
					}
				}
				.img-info{
					margin-top: 20px;
					.prod-name{
						a{
							color: map-get($colors,primary);
							text-decoration: none;
							overflow: hidden;
							text-overflow: ellipsis;
							width: 100%;
							white-space: nowrap;
							&:hover{
				                color:map-get($colors,tertiary);
				            }
						}
					}
					.price-cont{
						margin-top: 5px;
						@extend .secondary_base_content;
						letter-spacing: 1px;
						align-items: center;
						.brand{
							color: map-get($colors, secondary);
						}
						.price{
							font-size: map-get($fontSizes,xs);
						}
						.strike{
							text-decoration: line-through;
							padding: 0 10px;
							color: map-get($colors, secondary);
							font-size: map-get($fontSizes,xxxs);
						}
						.offer{
							color: map-get($colors,dull_red);
							font-family: $f-family-secondary-medium;
							font-size: map-get($fontSizes,xxxs);
						}
						.saperator{
							margin: 0 15px;
						}
						
					}
				}
			}
			@media only screen and (max-width: 767px){
				padding-top: 30px;
				.title{
					margin-bottom: 35px;
				}
				.img-cont{
					padding: 0 20px;
				}
			}
		}
	}
	
}



.header_contaner{
	.navbar {
		.navbar-nav {
			> li {
				a{
					padding: 35px 12px !important;
				}
				.dropdown{
					.dropdown-menu{
						&.submenu{
							top: 86px !important;
						}
					}
				}
			}
		}
	}
}

.righttoleft-direction {
	.product_detail {
		.section_outer {
			h1 {
			    padding: 0 0 0 120px!important;
			}
		}
	}
	.sold_by {
	    left: 0 !important;
	    right: auto !important;
	}
}

.home-page {
	.trending_near {
		.data-cont {
			.title{
				color: #292e34 !important;
			}
		}
		&:before{
			display: none !important;
		}
	}
}