.landing_outer{
    color: map-get($colors,white);
    .launching_tab{
        background: map-get($colors,tertiary);
        padding: 8px 0;
        font-size: map-get($fontSizes,buffer_font);
        font-family: $f-family-secondary;
        color: map-get($colors,white);
        button{
            border: 1px solid map-get($colors,white);
            background: transparent;
            color: map-get($colors,white);
            @include border-radius(8px);
            margin-right: 15px;
            font-size: map-get($fontSizes,buffer_font);
            font-family: $f-family-default-bold;
            padding: 2px 15px;
        }
    }

    .content{
        img{
            width: 100%;
        }
        h1{
            left: 0;
            right: 0;
            top: 10%;
            z-index: 1;
            @extend .banner_heading;
        }
        .inner{
            left: 0;
            right: 0;
            top: 44%;
            @include transform(translateY(-50%));
            z-index: 1;
        }
        button{
            @extend .base_content;
            background: map-get($colors,primary);
            border-radius: 0;
            box-shadow: none;
            border: 1px solid map-get($colors,primary);
            text-transform: capitalize;
            min-width: 170px;
            padding: 11px 20px;
            color: map-get($colors,white);
            margin-top: 25px;
            &:hover{
                background: map-get($colors,tertiary);
                border: 1px solid map-get($colors,tertiary);
            }
        }
    }
    @media only screen and (max-width: 991px){
        .content{
            h1{
                top: 5%;
                font-size: map-get($fontSizes,l);
            }
        }
    }
    @media only screen and (max-width: 767px){
        .content{
            h2{
                font-size: map-get($fontSizes,s);
            }
            button{
                font-size: map-get($fontSizes,xs);
                margin-top: 5px;
            }
        }
        .launching_tab{
            font-size: map-get($fontSizes,xxs);
            .launch_btn{
                font-size: map-get($fontSizes,xxs);
                margin-right: 5px;
                padding: 4px 8px;
            }
        }
    }
}