.product_listing{
	padding: 30px 30px 75px;
	.category_name{
		@extend .base_content;
		margin-bottom: 5px;
	}
	.subcategory{
		@extend .mob_heading;
	}
	.sorting_Sec{
		li{
			display: inline-block;
			@extend .secondary_base_content;
			color: map-get($colors,secondary);
			margin-left: 10px;
			a{
				color: map-get($colors,secondary);
			}
			&.active, &:hover{
				a{
					color: map-get($colors,primary);
					text-decoration: underline;
				}
			}
		}
	}
	.category_breadcrumbs{
		li{
			display: inline-block;
			@include border-radius(12px);
			color: map-get($colors,secondary);
			background: map-get($colors,grey);
			@extend .secondary_base_content;
			margin-right: 10px;
			padding: 3px 10px;
			margin-bottom: 5px;
			a{
				margin-left: 5px;
				color: map-get($colors,secondary);
				svg{
					width: 8px;
					height: 8px;
				}
			}
		}
	}
	.filter_value{
		@extend .base_content;
		letter-spacing: normal;
		.value{
			text-decoration: underline;
		}
	}
	.toggle_outer{
		margin-left: 15px;
		.iOSChecked{
			color: map-get($colors,white);
		}
		.iOSIconChecked,.iOSIcon{
			width: 16px;
			height: 16px;

		}
		span .iOSBar{
			background-color: map-get($colors,primary);
			width: 40px;
			opacity: 0.1;
			height: 19px;
			@include border-radius(15px);
			margin-top: -9px;
		}
		.iOSChecked + .iOSBar{
			opacity: 1;
			margin-left: -24px;
		}

	}
	.store_outer{
		.modal-dialog{
			max-width: 550px;
			margin-top: 40px;
		}
		.modal-body{
			padding: 10px 50px 50px; 
			h2{
				margin-top: 50px;
				font-size: map-get($fontSizes,s);
				letter-spacing: 1.6px;
				font-family: $f-family-default-bold;
			}
			p{
				@extend .secondary_base_content;
				letter-spacing: 1px;
			}
			form{
				button{
					@extend .base_content;
					background: map-get($colors,primary);
					margin: 15px 0;
					border-radius: 0;
					box-shadow: none;
					border: 1px solid map-get($colors,primary);
					text-transform: capitalize;
					min-width: 135px;
					padding: 10px 16px;
					&:hover{
						background: map-get($colors,tertiary);
						border: 1px solid map-get($colors,tertiary);
					}
				   
				}
				.slect_outer{
					label{
						@extend .secondary_base_content;
						@include transform(scale(1));
						color:map-get($colors,secondary);
					}
				}
				.selectEmpty{
					width: calc(100% - 150px);
					margin-right: 15px;
					@extend .base_content;
					background: transparent url("/img/down-arrow.png") no-repeat right 12px;
					svg{
						display: none;
					}
					&:focus{
						outline: 0;
					}
					&:after{
						border-bottom:1px solid map-get($colors,tertiary);
					}
					&:hover{
						&:before{
							border-bottom:1px solid map-get($colors,tertiary);
						}
					}
					> div > div{
						padding: 10px 0;
						&:focus{
							background:transparent;
						}
					}
				}
			}
		}
	}
	.product_list {
		.data-cont{
			padding: 20px 0 0;
			.img-cont{
				padding: 0 15px 50px;
			}
		}
		.show_more{
			@extend .base_content;
			text-decoration: underline;
			margin: 0 auto;
			display: flex;
			width: 90px;
		}
	} 
	.sort_filter_outer{
		background: map-get($colors,white);
		@extend .base_content;
		svg{
			width: 12px;
			height: 12px;
		}
		.btn-link{
			border: 0;
			color: map-get($colors,primary);
			text-decoration: none;
		}
	}
	.filter_outer{
		padding-top: 165px;
		.filter_heading{
			@extend .base_content;
			font-family: $f-family-secondary-bold;
			border-bottom: 1px solid map-get($colors,grey);
			letter-spacing: normal;
			padding-bottom: 15px;
			a{
				font-weight: normal;
				text-decoration: underline;
				font-size: map-get($fontSizes,xxs);
			}
			.cross_icon{
				svg{
					width: 13px;
					height: 13px;
					margin-right: 20px;
				}
			}
		}
		.applid_outer{
			.filter_heading{
				border: 0;  
				font-family: $f-family-secondary;
				margin: 10px 0 0 0;
			}
			.category_breadcrumbs{
				border-bottom: 1px solid map-get($colors,grey);
				padding-bottom: 20px;
				margin-bottom: 0;
			}
		}
		
		.filter_list{
			.card{
				border: 0;
				border-bottom: 1px solid map-get($colors,grey);
				border-radius: 0;
				.card-header{
					background: transparent;
					border: 0;
					padding: 0;
					button{
						@extend .base_content;
						color:map-get($colors,primary);
						padding-left: 0;
						width: 100%;
						text-decoration: none;
						display: flex;
						justify-content: space-between;
						align-items: center;
						.custom_minus,.custom_plus{
							font-size: map-get($fontSizes,s);
							width: 15px;
							text-align: center;
						}
					}
				}
				.brand_srch{
					border: 0;
					background: map-get($colors,grey);
					@extend .secondary_base_content;
					color: map-get($colors,secondary);
					width: 100%;
					padding: 3px 5px;
				}
				.card-body{
					padding: 0;
					ul{
						li{
							margin-top: 15px;
							.checkbox_list{
								position: absolute;
								opacity: 0;
								& + label {
									position: relative;
									cursor: pointer;
									padding: 0;
									margin: 0;
									@extend .secondary_base_content;
									color: map-get($colors,secondary);
									&:hover{
										color: map-get($colors,primary);
									}

								}
								 &:checked + label{
									color: map-get($colors,primary);
								 }
								& + label:before {
									content: '';
									margin:2px 8px 0 0;
									display: inline-block;
									vertical-align: text-top;
									width: 15px;
									height: 15px;
									background: transparent;
									@include border-radius(2px);
									border: 1px solid map-get($colors,border_color);
								}
								&:checked + label:before {
									background: map-get($colors,tertiary);
									border: 0;
								}
								&:checked + label:after {
									content: '';
									position: absolute;
									left: 2px;
									top: 6px;
									background: map-get($colors,white);
									width: 2px;
									height: 2px;
									box-shadow: 
									  2px 0 0 map-get($colors,white),
									  4px 0 0 map-get($colors,white),
									  4px -2px 0 map-get($colors,white),
									  4px -4px 0 map-get($colors,white),
									  4px -6px 0 map-get($colors,white),
									  4px -8px 0 map-get($colors,white);
									@include transform(rotate(45deg));
									margin-top: 4px;
								}
							}
						}
						.hide-filter{
							display: none;
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1024px){
		.subcategory{
			font-size: map-get($fontSizes,s);
		}
	}
	@media only screen and (max-width: 991px){
		.filter_outer{
			padding-top: 195px;
		}
	}
	@media only screen and (max-width: 767px){
		padding : 15px 5px 55px;
		.store_outer{
			.modal-body{
				padding: 10px 15px;
				h2{
					margin-bottom: 20px;
				}
				form {
					
					.selectEmpty{
						width: calc(100% - 105px);
						& + button{
							min-width: 90px;
							padding: 8px 16px;
						}
					}
					
				}
			}
		}
		.filter_outer{
			padding: 20px 30px;
			bottom: 0;
			background: map-get($colors,white);
			overflow: auto;
			position: fixed;
			top: 0;
			@include box-shadow(-2px, 0, 10px, 0, rgba(0, 0, 0, 0.5));
			z-index: 99;
			width: 90%;
			right: -91%;
			@include transition(right .6s);
			height: 100% !important;
			display: block;
			&.filter_open{
				right: 0;
				@include transition(right .6s);
			}
		}
		.sticky_filter {
			position: fixed;
			top: 65px;
			width: 100%;
			padding: 10px 5px;
			z-index: 10;
			border-bottom: 1px solid rgba(151, 151, 151, 0.3);
			left: 0;
			right: 0;
			margin: 0;
			z-index: 9;
		}
		.product_list .data-cont .img-cont .img-info .price-cont{
			.saperator{
				display: none;
			}
		}
		.sortdropdown{
			.dropdown-toggle{
				&:after{
					display: none;
				}
			}
			.dropdown-menu{
				padding: 10px 15px;
				min-width: auto;
				ul {
					padding: 0;
					li{
						display: block;
						padding-bottom: 5px;
						margin: 0;
						font-size: map-get($fontSizes,xs);
						&.active{
							a {
								text-decoration: none;
							}
						}
					}
				}

			}
		}
	}
	@media only screen and (max-width: 480px){
		.product_list .data-cont .img-cont .img-info .price-cont{
			display: block !important;
			.offer{
				display: block;
				margin-top: 2px;				
			}
			.price{
				margin-top: 5px;
				display: inline-block;
			}
		}
	}
}
html.filterouter-open{
	height: 100%;
	width: 100%;
	overflow: hidden;
	.sort_filter_outer .btn-link{
		&:after {
			background: rgba(0,0,0,0.01);
			content: '';
			display: block;
			height: 100%;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 2;
		}
	}
}
.sold_by {
    position: absolute;
    right: 0;
    top: 5px;
}
.sold_by span {
    color: #c5c5c5;
    font-size: 13px;
    display: block;
    margin-bottom: -2px;
}
.product_detail .section_outer h1.text-left {
    padding-right: 120px;
}
#company_logo{
	 width:80px;
	 height:45px;
	}

@media only screen and (max-width: 767px){
	.sold_by{
		position: relative;
	    right: 0;
	    top: 0;
	    padding: 14px 0 30px 0;
	    border-top: 1px solid #ddd;
	}
	#company_logo{
	 width:80px;
	 height:45px;
	}
}
