.login_popup_outer,.reviewwrite,.store_outer,.order_outerpopup,.show_chart{
    .modal-dialog{
        max-width: 745px;
        .close{
            font-size: map-get($fontSizes,s);
            margin-top: -24px;
            position: absolute;
            right: -10px;
            width: 28px;
            z-index: 1;
            background: map-get($colors,secondary_border);
            @include border-radius(50%);
            opacity: 1;
            height: 28px;
            padding-bottom: 3px;
            font-family: $f-family-default;
        }
        .modal-body{
            .right_sec{
                position: relative;
                background: url("/img/temp/login_bg.png") no-repeat top center/cover;
                min-height: 400px;
                img{
                    width: 100%;
                }
                > div{
                    position: absolute;
                    top: 50%;
                    left:0;
                    right: 0;
                    @include transform(translateY(-50%));
                    h2{
                        color: map-get($colors,white);
                        font-size: map-get($fontSizes,s);
                        font-family: $f-family-default-bold;
                    }
                    a{
                        @extend .base_content;
                        text-decoration: underline;
                        color: map-get($colors,white);
                    }
                }
            }
            .left_sec{
                padding: 0 30px;
                .login_title{
                    margin: 20px 0 25px;
                    font-size: map-get($fontSizes,s);
                    font-family: $f-family-default-bold;
                }
                .icon_sec{
                    @extend .secondary_base_content;
                    button{
                        border-color: map-get($colors,primary);
                        color: map-get($colors,primary);
                        border-radius: 0;
                        @extend .base_content;
                        background: transparent;
                        margin: 0 5px;
                        padding: 10px;
                        width: 160px;
                        position: relative;
                        svg{
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            left: 12px;
                            top: 14px;
                        }

                    }
                    > div{
                        margin-top: 20px;
                    }
                }
                form,.form_outer{
                    button{
                        @extend .base_content;
                        background: map-get($colors,primary);
                        margin: 15px 0;
                        border-radius: 0;
                        box-shadow: none;
                        border: 1px solid map-get($colors,primary);
                        text-transform: capitalize;
                        min-width: 170px;
                        &:hover{
                            background: map-get($colors,tertiary);
                            border: 1px solid map-get($colors,tertiary);
                        }
                    }
                    .buffer_text{
                        @extend .base_content;
                        padding: 0 8px;
                        font-size: map-get($fontSizes,xxxs);
                    }
                    .create_pass{
                        @extend .base_content;
                        text-decoration: underline;
                        &:hover{
                            color: map-get($colors,tertiary);
                        } 
                    }
                    .radio_outer{
                        margin: 20px 0 10px;
                        max-height: 200px;
                        overflow-y: auto;
                        flex-direction: row;
                        @extend .base_content;
                        label{
                            span{
                                padding: 2px 12px;
                            }
                        }
                    }
                    .input_outer{
                        margin-bottom: 10px;
                        input, textarea{
                            @extend .base_content;
                        }
                        label{
                            @extend .base_content;
                        }  
                        > div{
                            &:hover:before{
                                border-bottom:1px solid map-get($colors,tertiary);
                            }
                            &:after{
                                border-bottom:1px solid map-get($colors,tertiary);
                            }
                        }
                    }
                    p{
                        @extend .secondary_base_content;
                        font-size: map-get($fontSizes,xxxs);
                        letter-spacing: 0.5px;
                        margin-top: 4px;
                        color: map-get($colors,error_color);   
                    }
                    .btn_outer{
                        .create_pass{
                            margin-top: 22px;
                        }
                    }
                }
                .sub_desp{
                    margin-bottom: 0;
                    @extend .secondary_base_content;
                }
                .content{
                    a{
                        @extend .secondary_base_content;
                        text-decoration: underline;
                        &:hover{
                            color: map-get($colors,tertiary);
                        }
                    }
                    p{
                        @extend .secondary_base_content;
                        margin-bottom: 0;
                        letter-spacing: 0.8px;
                    }
                }
                .verification_inner{
                    width: 100%;
                    .content{
                        margin-bottom: 10px;
                    }
                    .time_span{
                        @extend .secondary_base_content;
                        padding-top: 25px;
                        letter-spacing: 1px;
                        a{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .verification_outer{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                .login_title{
                    margin-top: 30px;
                }
            }
        }
        @media only screen and (max-width: 767px){
            max-width: 420px;
            margin:40px auto 10px;
            padding: 0 15px;
            .modal-body{
                padding: 12px;
                .right_sec{
                    min-height: 120px;
                }
                .left_sec{
                    padding: 0 0 30px;
                    .login_title{
                        margin-bottom: 25px;
                    }
                    form,.form_outer{
                        button{
                            min-width: 145px;
                        }
                    }
                    .icon_sec button{
                        margin: 6px 0;
                        width: 100%;
                    }
                }
            }
        }
        @media only screen and (max-width: 375px){
            .modal-body{
                .left_sec form,.left_sec .form_outer {
                    button.send_otp{
                        min-width: 90px;
                        padding: 8px 0;
                        margin-right: 10px;
                    }
                    .buffer_text{
                        display: none;
                    }
                }
            }
        }
    }
}