@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    -ms-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}
@mixin text-shadow($top, $left, $blur, $color) {
    -webkit-text-shadow: $top $left $blur $color ;
    -moz-text-shadow: $top $left $blur $color ;
    -ms-text-shadow: $top $left $blur $color;
    text-shadow: $top $left $blur $color;
}
@mixin linear-gradient($from, $to) {
  background: $to;
    background: -moz-linear-gradient(top, $to 0%, $from 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$to), color-stop(100%,$from));
    background: -webkit-linear-gradient(top, $to 0%,$from 100%);
    background: -o-linear-gradient(top, $to 0%,$from 100%);
    background: linear-gradient(to bottom, $to 0%,$from 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$to}, endColorstr=#{$from})
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin appearance($appearance) {
     -moz-appearance: $appearance;
       -o-appearance: $appearance;
      -ms-appearance: $appearance;
  -webkit-appearance: $appearance;
          appearance: $appearance;
}