.header_contaner .navbar .navbar-nav > li.dropdown .dropdown-menu.submenu, .header_contaner .navbar .navigaton .common_dropdown .dropdown-menu.submenu{
	top: 86px;
}
.header_contaner .navbar .navbar-nav > li a{
	padding: 35px 12px !important;
}

.cs-loader.hm{
  background-color: rgba(255, 255, 255, 1)!important;
}
.cs-loader.hm .cs-loader-inner label{
    background: rgba(0, 0, 0, 0.5)!important;
    height: 10px!important;
    width: 10px!important;
    border-radius: 10px!important;
}

.righttoleft-direction .product_detail .section_outer h1 {
    padding: 0 0 0 120px!important;
}
.righttoleft-direction .sold_by {
    left: 0!important;
    right: auto!important;
}

.home-page .trending_near .data-cont .title{
	color: #292e34 !important;
}
.trending_near:before{
	display: none!important;
}