body{
	margin: 0;
    font-family: $f-family-default;
    color: map-get($colors,primary);
    font-size: map-get($fontSizes,xs);
}

.banner_heading{
    font-size: map-get($fontSizes,xl);
    font-family: $f-family-default-bold;
    line-height: 94px;
    letter-spacing: 0px;
}

.section_heading{
    font-size: map-get($fontSizes,l);
    font-family: $f-family-default-bold;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
}

.mob_heading{
    font-size: map-get($fontSizes,m);
    font-family: $f-family-default-bold;
    letter-spacing: 0px;
    text-align: center;
}
.base_content{
    font-size: map-get($fontSizes,xs);
    font-family: $f-family-secondary;
    letter-spacing: 1px;
}
.secondary_base_content{
    font-size: map-get($fontSizes,xxs);
    font-family: $f-family-secondary;
}
input,button,.btn,.form-control,select{
    &:hover,&:focus,&:active{
        outline:0;
        box-shadow: none;
    }
}
::placeholder {
    font-family: $f-family-secondary;
    color: map-get($colors,secondary);
    opacity: 1; 
}

:-ms-input-placeholder { 
    font-family: $f-family-secondary;
   color: map-get($colors,secondary);
}

::-ms-input-placeholder {
    font-family: $f-family-secondary;
   color: map-get($colors,secondary);
}
a,a:hover,a:focus{
    color: map-get($colors,primary);
    text-decoration: none;
    outline:none;
}
ul{
    list-style: none;
    padding: 0;
}
.btn_disable{
  background: map-get($colors,secondary) !important;
  border: 1px solid map-get($colors,secondary) !important;
}
.no-product{
  text-align: center;
  width: 100%;
}
#notification-wrapper .toast-notification{
    width: auto !important;
    margin: 0 10px !important;
    @include transform(translateY(0) !important);
    @include transition(all 9000ms ease !important);
    span{
        background: rgba(0,0,0,0.8) !important;
        color: map-get($colors,white);
        @extend .base_content;
        border: 0;    
        padding: 12px 30px !important;
        @include box-shadow(0, 6px, 8px, 0px, rgba(0,0,0,0.44));
        @include border-radius(3px !important);          
    }
}
.common_tooltip_outer{
  position: relative;
  cursor: pointer;
}
.common_tooltip{
    @extend .base_content;
    background: map-get($colors,white);
    text-align: center;
    padding: 10px;
    color: map-get($colors,primary);
    @include border-radius(8px);
    border: 1px solid map-get($colors,secondary_border);
    @include box-shadow(0, 2px, 4px, 0, rgba(0,0,0,0.16));
    position: absolute;
    width: 170px;
    left: 50%;
    line-height: 22px;
    @include transform(translateX(-50%));
    z-index: 2;
    display: none;
    &.top,&.down{
      &:after,&:before{
        position: absolute;
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        left: 50%;
        @include transform(translateX(-50%));
      }

    }
    &.top{
      bottom: -55px;
      &:after{
          top: -11px;
        border-width:0 12px 12px 12px;
        border-color: transparent transparent map-get($colors,white) transparent;
      }
      &:before{
        top: -12px;
        border-width:0 12px 12px 12px;
        border-color: transparent transparent map-get($colors,secondary_border) transparent;
      }
    }
    &.down{
      top: -55px;
      &:after{
        bottom: -11px;
        border-width:12px 12px 0 12px;
        border-color: map-get($colors,white) transparent transparent transparent;
      }
      &:before{
        bottom: -12px;
        border-width:12px 12px 0 12px;
        border-color: map-get($colors,secondary_border) transparent transparent transparent;
      }
    }
}
.vatmsg{
    font-size: map-get($fontSizes,xxxs);
    margin-top: -10px;
}
.codmsg{
    font-size: map-get($fontSizes,xxxs) !important;
    margin-top:2px !important;
}
/*loader*/
.cs-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    @include transition(all .4s ease-out);
    // display: none;
    .cs-loader-inner {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        z-index: 1001;
        color: map-get($colors,primary);
        @include transform(translate(-50%));
    }

    .cs-loader-inner label {
      font-size: map-get($fontSizes,buffer_font);
      opacity: 0;
      margin: 0 5px;
      display:inline-block;
    }

    @keyframes lol {
      0% {
        opacity: 0;
        transform: translateX(-300px);
      }
      33% {
        opacity: 1;
        transform: translateX(0px);
      }
      66% {
        opacity: 1;
        transform: translateX(0px);
      }
      100% {
        opacity: 0;
        transform: translateX(300px);
      }
    }

    @-webkit-keyframes lol {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
      }
      33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
      }
      66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
      }
    }

    .cs-loader-inner label:nth-child(6) {
      -webkit-animation: lol 3s infinite ease-in-out;
      animation: lol 3s infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(5) {
      -webkit-animation: lol 3s 100ms infinite ease-in-out;
      animation: lol 3s 100ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(4) {
      -webkit-animation: lol 3s 200ms infinite ease-in-out;
      animation: lol 3s 200ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(3) {
      -webkit-animation: lol 3s 300ms infinite ease-in-out;
      animation: lol 3s 300ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(2) {
      -webkit-animation: lol 3s 400ms infinite ease-in-out;
      animation: lol 3s 400ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(1) {
      -webkit-animation: lol 3s 500ms infinite ease-in-out;
      animation: lol 3s 500ms infinite ease-in-out;
    }
}
.inner_loader{
    position: initial;
    background: transparent;
    width: 50%;
    height: auto;
    // margin: 0 auto;
    @keyframes lod {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      33% {
        opacity: 1;
        transform: translateX(0px);
      }
      66% {
        opacity: 1;
        transform: translateX(0px);
      }
      100% {
        opacity: 0;
        transform: translateX(100px);
      }
    }

    @-webkit-keyframes lod {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
      }
      33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
      }
      66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateX(100px);
      }
    }

    .cs-loader-inner label:nth-child(6) {
      -webkit-animation: lod 3s infinite ease-in-out;
      animation: lod 3s infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(5) {
      -webkit-animation: lod 3s 100ms infinite ease-in-out;
      animation: lod 3s 100ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(4) {
      -webkit-animation: lod 3s 200ms infinite ease-in-out;
      animation: lod 3s 200ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(3) {
      -webkit-animation: lod 3s 300ms infinite ease-in-out;
      animation: lod 3s 300ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(2) {
      -webkit-animation: lod 3s 400ms infinite ease-in-out;
      animation: lod 3s 400ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(1) {
      -webkit-animation: lod 3s 500ms infinite ease-in-out;
      animation: lod 3s 500ms infinite ease-in-out;
    }
}
.strike{
  text-decoration: line-through
}
.error{
  color:red !important
}


.thankyou_pg{
    text-align: center;
  }
  .thankyou_pg .heading{
    font-size: 30px;
    color: #000;
    display: block;
  }
  .thankyou_pg .sub_heading{
    font-size: 15px;
    color: #000;
    display: block;
  }
  .thankyou_pg p{
    margin: 35px 0;
    font-size: 16px;
  }
  .thankyou_pg_row{
    text-align: center;
  }
  .thankyou_pg a{
    display: inline-block;
    background: #292e34;
      color: #fff;
      border-radius: 0;
      border: 0;
      padding: 12px 28px;
      margin-bottom: 10px;
  }
  .thankyou_pg a.inverse{
    display: inline-block;
    background: #fff;
      color: #000;
      border-radius: 0;
      border: 0;
      padding: 12px 28px;
  }
.dashboard_outer .right_sec.order_outer form button {
  color: #ffffff;
  cursor:pointer;
}