
$colors: (
  primary: #292e34,
  secondary: #A9ABAE,
  tertiary: #fccf3a,
  white: #fff,
  grey: #f4f4f4,
  border_color: #7f8285,
  bg_primary: #212121,
  error_color: #f44336,
  secondary_border: #dfe1e4,
  pink: #fffcf3,
  dull_red: #ff6767,
  dull_green: #3bcb7d,
);


$fontSizes: (
	xl: 60px,
	l: 36px,
	m: 30px,
	s: 24px,
	xs: 15px,
	xxs: 13px,
	xxxs:11px,
  buffer_font: 18px
);


$f-family-default: 'KotoriRose-Regular', serif;
$f-family-default-bold: 'KotoriRose-Bold', serif;
$f-family-secondary: 'TTNorms-Regular', sans-serif;
$f-family-secondary-bold: 'TTNorms-Bold', sans-serif;
$f-family-secondary-medium: 'TTNorms-Medium', sans-serif;